/*----------------------------------------------*\
	#TEXT HELPERS
\*----------------------------------------------*/
    
.text-bold {
    font-weight: bold;
}

.text-light {
    font-size: light;
}

@include breakpoints( both ) {
    
    .text-start#{ $break } {
        text-align: start;
    }
    
    .text-center#{ $break } {
        text-align: center;
    }
    
    .text-end#{ $break } {
        text-align: end;
    }
    
    .text-grow#{ $break } {
        font-size: 125%;
    }
    
    .text-shrink#{ $break } {
        font-size: 75%;
    }
}


