/*----------------------------------------------*\
	#TEXT OVERRIDES
\*----------------------------------------------*/

@include breakpoints(both) {
    
    .text-start#{$break} {
        text-align: start;
    }
    
    .text-center#{$break} {
        text-align: center;
    }
    
    .text-end#{$break} {
        text-align: end;
    }
    
    .text-grow#{$break} {
        font-size: 125%;
    }
    
    .text-shrink#{$break} {
        font-size: 75%;
    }
    
    .text-bold#{$break} {
        font-weight: bold;
    }
    
    .text-light#{$break} {
        font-size: light;
    }
}


