/*----------------------------------------------*\
	#VISIBILITY OVERRIDES
\*----------------------------------------------*/

@include breakpoints( both ) {
    
    .hide#{ $break }.hide#{ $break } {
        display: none;
    }
}

.locked {
    overflow: hidden;
}


