/*----------------------------------------------------------------------------*\
    #COLOUR SETTINGS
\*----------------------------------------------------------------------------*/

//$primary:     #2E3133;
//$secondary:   #F2F2F2;
//$tertiary:    #7D7D80;
//$quaternary:  #EDEDED;

//$input:       #F2F2F2;
//$text:        #2E3133;

//$error:       #FF8080;
//$warn:        #FAE57D;
//$success:     #73E699;
//$disabled:    #AAAAAA;

// $palette: (
//     'primary':      $primary,
//     'secondary':    $secondary,
//     'tertiary':     $tertiary,
//     'quaternary':   $quaternary
// );

$aqua1: #31C4F5;
$aqua2: #B8ECFE;
$aqua3: #E2F8FF;
$seaweed: #3790C0;
$cloud1: #EFF0F5;
$cloud2: #F8F9FB;
$storm: #7A8099;

$text: #3D404D;
$body: #666B80;
