/*----------------------------------------------*\
	#GRID OBJECT STYLES
\*----------------------------------------------*/


/*  Blocks  */

.#{ $gridClass } { // .grid
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: rem( $maxWidth );
    padding: 0 rem( $gutter );
    
    #{ & }:not(#{ & }--#{ $nestClass }), // .grid .grid:not(.grid--nest)
    &--#{$unnestClass} { // .grid--unnest
        margin: 0 #{ rem( -$gutter * 2 ) };
        max-width: none;
    }
    
    
        /*  Elements  */
        
        &__#{ $itemClass } { // .grid__item
            flex-basis: 100%;
            flex-direction: column;
            padding: 0 rem( $gutter );
        }
    
    
    /*  Modifiers  */
    
    &--#{ $maxClass } { // .grid--max
        max-width: none;
    }
    
    &--#{ $axisClass } { // .grid--vert
        flex-direction: column;
    }
    
    &--#{ $edgeClass }, // .grid--edge
    &--#{ $edgeClass } > &__#{ $itemClass } { // .grid--edge > .grid__item
        padding-left: 0;
        padding-right: 0;
    }
    
    &#{ & }--#{ $edgeClass }, // .grid--edge
    &--#{ $edgeClass} .#{ $gridClass } { // .grid--edge .grid
        margin: 0;
    }
}


