/*----------------------------------------------*\
	#GRID OBJECT STYLES
\*----------------------------------------------*/

.#{$gridClass} {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: rem($maxWidth);
    padding: 0 rem($gutter);
}

.#{$gridClass}--#{$maxClass} {
    max-width: none;
}

.#{$gridClass}--#{$axisClass} {
    flex-direction: column;
}

.#{$gridClass}__#{$itemClass} {
    flex-basis: 100%;
    flex-direction: column;
    padding: 0 rem($gutter);
}

.#{$gridClass}--#{$edgeClass},
.#{$gridClass}--#{$edgeClass} > .#{$gridClass}__#{$itemClass} {
    padding-left: 0;
    padding-right: 0;
}

.#{$gridClass} .#{$gridClass} {
    margin: 0 #{rem(-$gutter)};
    max-width: none;
}

.#{$gridClass}.#{$gridClass}--#{$edgeClass},
.#{$gridClass}--#{$edgeClass} .#{$gridClass} {
    margin: 0;
}


