/*----------------------------------------------------------------------------*\
    #GRID OBJECT
\*----------------------------------------------------------------------------*/

@mixin ui-object__grid() {

    /*  Blocks  */

    .grid { // .grid
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: rem( $maxWidth );
        padding: 0 rem( $gutterSmall );
        width: 100%;


            /*  Elements  */

            &__item { // .grid__item
                @if(not($auto)) { flex-basis: 100%; }
                flex-direction: column;
                @if($auto) { flex-grow: 1; }
                max-width: 100%;
                padding: 0 rem( $gutterSmall );
                @if(not($auto)) { width: 100%; }
            }


        /*  Modifiers  */

        &--item { // .grid--item
            display: block;
            flex-direction: column;
            padding: 0 rem( $gutterSmall * 2 );
        }

        &#{ & }--item { // .grid.grid--item
            display: block;

            &.flex {  // .grid.grid--item.flex
                display: flex;
            }
        }

        & &, // .grid .grid
        &--unnest#{&}--unnest { // .grid--unnest
            flex-shrink: 1;
            margin: 0 #{ rem( -$gutterSmall * 2 ) };
            max-width: none;
            width: auto;
        }

        &--max { // .grid--max
            max-width: none;
        }

        &#{ & }--edge, // .grid.grid--edge
        &--edge > &__item { // .grid--edge > .grid__item
            padding: 0;
        }

        & &--nest#{&}--nest, // .grid--nest
        &#{ & }--edge, // .grid--edge
        &--edge &:not(&--unnest) { // .grid--edge .grid
            margin: 0 auto;
        }
    }

    @include media(m) {

        .grid { // .grid
            padding: 0 rem( $gutter );

            &__item { // .grid__item
                padding: 0 rem( $gutter );
            }

            &--item { // .grid--item
                padding: 0 rem( $gutter * 2 );
            }

            & &, // .grid .grid
            &--unnest { // .grid--unnest
                margin: 0 #{ rem( -($gutter * 2) ) };
            }
        }
    }
}


