/*----------------------------------------------*\
	#OFFSET OBJECT STYLES
\*----------------------------------------------*/

@if ( $offsets ) {
    
    @include breakpoints(both) {
        
        @for $inset from 1 through $columns {
            
            .inset-#{$inset}#{$break} {
                margin-left: round(100% / $columns * $inset);
            }
        }
        
        @for $outsetLeft from 1 through $columns {
            
            .outset-left-#{$outsetLeft}#{$break} {
                margin-left: round(-100% / $columns * $outsetLeft);
            }
        }
        
        @for $outsetRight from 1 through $columns {
            
            .outset-right-#{$outsetRight}#{$break} {
                margin-right: round(-100% / $columns * $outsetRight);
            }
        }
    }
}


