/*----------------------------------------------*\
	#SIZE OBJECT STYLES
\*----------------------------------------------*/

@include breakpoints( up ) {
    
    .size-auto#{ $break } {
        flex-grow: 1;
        flex-basis: 0%;
        max-width: 100%;
    }
    
    @for $grid from 0 through $columns {
        
        $width: if(
            $grid == 0,
            auto,
            floor( 100% / $columns * ( $grid * 1000 ) ) / 1000
        );
        
        .size-#{ $grid }#{ $break } {
            flex-basis: $width;
        }
    }
}


