/*----------------------------------------------------------------------------*\
    #LOADING INDICATOR
\*----------------------------------------------------------------------------*/

@mixin _nu-component__loading(
    $animation:         nu-keyframe__loading 0.6s infinite linear,
    $foregroundColour:  $nu-colourPrimary,
    $backgroundColour:  $nu-colourSecondary
) {

    @keyframes nu-keyframe__loading {

        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    // .c-loading
    color: transparent !important;
    @include nu-area(nu-rem(32));
    pointer-events: none;

    &::before, // .c-loading::before,
    &::after { // .c-loading::after
        border: 3px solid $backgroundColour;
        border-radius: 50%;
        content: '';
        display: block;
        @include nu-area(100%);
        left: 50%; top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &::after { // .c-loading::after
        animation: $animation;
        border-color: $foregroundColour;
        border-right-color: transparent;
        border-top-color: transparent;
    }

    &--light::after { // .c-loading--light::after
        border-bottom-color: white;
        border-left-color: white;
    }

    &--small { // .c-loading--small
        @include nu-area(nu-rem(16));

        &::before, // .c-loading--small::before,
        &::after { // .c-loading--small::after
            border-width: 2px;
        }
    }

    &--large { // .c-loading--large
        @include nu-area(nu-rem(48));

        &::before, // .c-loading--large::before,
        &::after { // .c-loading--large::after
            border-width: 5px;
        }
    }

    &--xlarge { // .c-loading--xlarge
        @include nu-area(nu-rem(64));

        &::before, // .c-loading--xlarge::before,
        &::after { // .c-loading--xlarge::after
            border-width: 7px;
        }
    }
}



/// @group Components
/// @param {String} $animation [nu-keyframe__loading 0.6s infinite linear] - Sets animation value
/// @param {String} $foregroundColour [$nu-colourPrimary] - Sets foreground colour
/// @param {String} $backgroundColour [nu-colourSecondary] - Sets background colour

@mixin nu-component__loading(
    $animation:         nu-keyframe__loading 0.6s infinite linear,
    $foregroundColour:  $nu-colourPrimary,
    $backgroundColour:  $nu-colourSecondary
) {

    .c-loading {

        @include _nu-component__loading(
            $animation:         $animation,
            $foregroundColour:  $nu-colourPrimary,
            $backgroundColour:  $nu-colourSecondary
        );
    }
}


