/*----------------------------------------------------------------------------*\
    #MODAL
\*----------------------------------------------------------------------------*/

@mixin _nu-component__modal(
    $primary:       $primary,
    $tertiary:      $tertiary,
    $quaternary:    $quaternary,
    $radius:        $radius,
    $trans:         $trans,
    $maxWidth:      $maxWidth
) {

    // .c-modal
    $block: &;

    align-items: center;
    background-color: rgba($primary, 0.8);
    display: flex;
    @include area(100%);
    left: 0; top: 0;
    opacity: 0;
    padding: rem(16);
    position: fixed;
    transition: opacity $trans;
    visibility: hidden;
    z-index: 1;

    &__content,  // .c-modal__content
    &__feed {    // .c-modal__feed
        background-color: white;
        border-radius: $radius;
        margin: auto;
        max-height: calc(100vh - #{rem(32)});
        max-width: $maxWidth;
        opacity: 0;
        transform: translateY(rem(160));
        transition: all $trans;
    }

    &__content { // .c-modal__content
        overflow: auto; -webkit-overflow-scrolling: touch;
        padding: rem(32);
    }

    &__bar {
        border-bottom: 1px solid $secondary;
    }

    &__main + &__bar {
        border-bottom: 0;
        border-top: 1px solid $secondary;
    }

    &__close { // .c-modal__close
        background-color: $quaternary;
        border-radius: 50%;
        display: block;
        @include area(rem(28));
        margin-left: auto;
        position: sticky;
        top: 0;
        transition: all $trans;
        z-index: 1;

        &::before, // .c-modal__close::before,
        &::after { // .c-modal__close::after
            background-color: $primary;
            border-radius: rem(16);
            content: '';
            display: block;
            @include area(rem(3), rem(14));
            left: 50%; top: 50%;
            position: absolute;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center;
            transition: all $trans;
        }

        &::after { // .c-modal__close::after
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover { // .c-modal__close:hover
            background-color: $tertiary;

            &::before, // .c-modal__close:hover::before,
            &::after { // .c-modal__close:hover::after
                background-color: white;
            }
        }
    }

    &--fill { // .c-modal--fill
        padding: 0;

        #{$block}__content { // .c-modal--fill .c-modal__content
            flex-grow: 1;
        }
    }

    &--fullscreen { // .c-modal--fullscreen
        padding: 0;

        #{$block}__content { // .c-modal--fullscreen .c-modal__content
            border-radius: 0;
            @include area(100%);
            margin: 0;
            max-height: none;
            max-width: none;
            opacity: 1;
            transform: translateY(100%);
        }
    }

    &.is-active { // .c-modal.is-active
        opacity: 1;
        visibility: visible;

        #{$block}__content, // .c-modal.visible .c-modal__content
        #{$block}__feed {   // .c-modal.visible .c-modal__feed
            opacity: 1;
            transform: translateY(0);
            transition-delay: $trans;
        }
    }
}



/// @group Components
/// @param {String} $primary [$primary] - Sets backdrop color
/// @param {String} $tertiary [$tertiary] - Sets close button hover color
/// @param {String} $quaternary [$quaternary] - Sets close button color
/// @param {Length} $radius [$radius] - Sets corner radius
/// @param {String} $trans [$trans] - Sets transition properties eg. 0.2 ease
/// @param {Length} $maxWidth [$maxWidth] - Sets modal max width

@mixin nu-component__modal(
    $primary:       $primary,
    $tertiary:      $tertiary,
    $quaternary:    $quaternary,
    $radius:        $radius,
    $trans:         $trans,
    $maxWidth:      $maxWidth
) {

    .c-modal {

        @include _nu-component__modal(
            $primary:       $primary,
            $tertiary:      $tertiary,
            $quaternary:    $quaternary,
            $radius:        $radius,
            $trans:         $trans,
            $maxWidth:      $maxWidth
        );
    }
}


