/*----------------------------------------------------------------------------*\
    #NAVIGATION COMPONENT
\*----------------------------------------------------------------------------*/

@mixin _nu-component__navigation(
    $closeBg:           rgba(black, 0.25),
    $navSubBg:          lavendar,
    $navLinkHoverBg:    whitesmoke,
    $trans:             $nu-trans
) {

    // .js .c-nav
    bottom: 0; left: 0;
    box-sizing: content-box;
    cursor: pointer;
    display: block;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 100%;

        &__close { // .js .c-nav__close
            background-color: $closeBg;
            display: block;
            @include nu-area(100%);
            left: 0; top: 0;
            position: fixed;
        }

        &__link { // .js .c-nav__link
            display: block;
            padding: nu-rem(4) nu-rem(12);

            + .nav-sub { // .js .c-nav__link + .nav-sub
                background-color: $navLinkHoverBg;
                left: 0;
                margin-top: -1px;
                position: absolute;
                transform: translate(100vw);
                transition: transform $trans;
                width: 100%;
                z-index: 1;

                &:hover { // .js .c-nav__link + .nav-sub:hover
                    transform: translate(0);
                }
            }

            &:hover { // .js .c-nav__link:hover
                background-color: $navSubBg;

                + .nav-sub { // .js .c-nav__link:hover + .nav-sub
                    transform: translate(0);
                }
            }
        }
}



/// @group Components
/// @param {String} $closeBg [rgba(black, 0.25)] - Sets close button color
/// @param {String} $navSubBg [lavendar] - Sets subnav background color
/// @param {String} $navLinkHoverBg [whitesmoke] - Sets text hover color
/// @param {String} $trans [$nu-trans] - Sets transition properties eg. 0.2 ease

@mixin nu-component__navigation(
    $closeBg:           rgba(black, 0.25),
    $navSubBg:          lavendar,
    $navLinkHoverBg:    whitesmoke,
    $trans:             $nu-trans
) {

    .js .c-nav {

        @include _nu-component__navigation(
            $closeBg:           $closeBg,
            $navSubBg:          $navSubBg,
            $navLinkHoverBg:    $navLinkHoverBg,
            $trans:             $trans
        );
    }
}


