/*----------------------------------------------------------------------------*\
    #OFF CANVAS
\*----------------------------------------------------------------------------*/

@mixin _nu-component__canvas(
    $trans: $trans
) {

    // .c-canvas
    transition: transform $trans;

    &__trigger--close { // .c-canvas__trigger--close
        display: none;
    }
}


@mixin _nu-component__offCanvas(
    $size:          rem(320),
    $trans:         $trans,
    $secondary:     $secondary,
    $canvasClass:   'c-canvas'
) {

    // .c-offCanvas
    background-color: $secondary;
    @include area(100vh, $size);
    left: 0; top: 0;
    position: fixed;
    transform: translateX(-100%);
    transition: transform $trans;

    &:target { // .c-offCanvas:target
        transform: none;
    }

    &:target ~ .#{$canvasClass} { // .c-offCanvas:target ~ .c-canvas
        transform: translateX($size);

        .#{$canvasClass}__trigger { // .c-offCanvas:target ~ .c-canvas .c-canvas__trigger
            display: none;

            &--close { // .c-offCanvas:target ~ .c-canvas .c-canvas__trigger--close
                display: inline-block;
            }
        }
    }

    &--right { // .c-offCanvas--right
        left: auto; right: 0;
        transform: translateX(100%);

        &:target + .#{$canvasClass} { // .c-offCanvas--right:target + .c-canvas
            transform: translateX(rem(-320));
        }
    }

    &--top,     // .c-offCanvas--top,
    &--bottom { // .c-offCanvas--bottom
        @include area($size, 100%);
        transform: translateY(100%);
        z-index: 1;

        &:target + .#{$canvasClass} { // .c-offCanvas--right:target + .c-canvas
            transform: translateY(-#{$size});
        }
    }

    &--bottom { // .c-offCanvas--bottom
        bottom: 0;
        top: auto;
    }
}



/// @group Components
/// @param {Length} $size [rem(320)] - Sets canvas width
/// @param {String} $trans [$trans] - Sets transition properties eg. 0.2 ease
/// @param {String} $secondary [$secondary] - Sets background color
/// @param {String} $canvasClass ['c-canvas'] - Declares canvas class
/// @require {function} rem

@mixin nu-component__offCanvas(
    $size:          rem(320),
    $trans:         $trans,
    $secondary:     $secondary,
    $canvasClass:   'c-canvas'
) {

    .c-canvas {

        @include _nu-component__canvas(
            $trans: $trans
        );
    }

    .c-offCanvas {

        @include _nu-component__offCanvas(
            $size:          $size,
            $trans:         $trans,
            $secondary:     $secondary,
            $canvasClass:   $canvasClass
        );
    }
}


