/*----------------------------------------------------------------------------*\
    #TABS COMPONENT
\*----------------------------------------------------------------------------*/

@mixin _nu-component__tabs(
    $tabColour: $nu-colourSecondary
) {

    // .c-tabs
    border: 1px solid $tabColour;

    &__nav { // .c-tabs__nav
        display: flex;
        border-bottom: 1px solid $tabColour;
    }

    &__link { // .c-tabs__link
        flex: 1 1 auto;
        padding: nu-rem(8) nu-rem(16);
        text-align: center;
        width: 0%;

        & + & { // .c-tabs__link + .c-tabs__link
            border-left: 1px solid $tabColour;
        }

        &.is-active { // .c-tabs__link.is-active
            background-color: $tabColour;
        }
    }

    &__content { // .c-tabs__content
        display: none;
        padding: nu-rem(16);

        &.is-active { // .c-tabs__content.is-active
            display: block;
        }
    }
}



/// @group Components
/// @param {String} $tabColour [$nu-colourSecondary] - Sets accent color
/// @require {function} nu-rem

@mixin nu-component__tabs(
    $tabColour: $nu-colourSecondary
) {

    .c-tabs {

        @include _nu-component__tabs(
            $tabColour: $tabColour
        );
    }
}


