/*----------------------------------------------------------------------------*\
    #TOOLTIP COMPONENT
\*----------------------------------------------------------------------------*/

@mixin _nu-component__tooltip(
    $tipSize:       nu-rem(4),
    $trans:         $trans,
    $colourPrimary: $colourPrimary,
    $colour:        white,
    $fontSize:      nu-rem(16),
    $fontWeight:    500,
    $letterSpacing: 0.25,
    $padding:       nu-rem(2) nu-rem(8),
    $radius:        $radius
) {

    // .c-tooltip
    &::before, // .c-tooltip::before,
    &::after { // .c-tooltip::after
        bottom: calc(100% + #{nu-rem(2)}); left: 50%;
        opacity: 0;
        position: absolute;
        transition: opacity $trans;
    }

    &::before { // .c-tooltip::before
        border-left: $tipSize solid transparent;
        border-right: $tipSize solid transparent;
        border-top: $tipSize solid $colourPrimary;
        content: '';
        @include nu-area(0);
        transform: translate(-50%, $tipSize);
    }

    &::after { // .c-tooltip::after
        background-color: $colourPrimary;
        border-radius: $radius;
        color: $colour;
        content: attr(title);
        display: block;
        font-size: $fontSize;
        font-weight: $fontWeight;
        letter-spacing: $letterSpacing;
        padding: $padding;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    &--bottom { // .c-tooltip--bottom

        &::before, // .c-tooltip--bottom::before
        &::after { // .c-tooltip--bottom::after
            bottom: auto; top: calc(100% + #{nu-rem(2)});
        }

        &::before { // .c-tooltip::before
            transform: translate(-50%, -#{$tipSize}) rotate(180deg);
        }
    }

    &--left, // .c-tooltip--left,
    &--right { // .c-tooltip--right

        &::before, // .c-tooltip--left::before, .c-tooltip--right::before,
        &::after { // .c-tooltip--left::after, .c-tooltip--right::after
            bottom: 50%;
        }

        &::after { // .c-tooltip--left::after, .c-tooltip--right::after
            transform: translate(0, 50%);
        }
    }

    &--left { // .c-tooltip--left

        &::before, // .c-tooltip--left::before,
        &::after { // .c-tooltip--left::after
            left: auto; right: calc(100% + #{nu-rem(2)});
        }

        &::before { // .c-tooltip--left::before
            transform: translate(nu-rem(6), 50%) rotate(270deg);
        }
    }

    &--right { // .c-tooltip--right

        &::before, // .c-tooltip--right::before,
        &::after { // .c-tooltip--right::after
            left: calc(100% + #{nu-rem(2)});
        }

        &::before { // .c-tooltip--right::before
            transform: translate(nu-rem(-6), 50%) rotate(90deg);
        }
    }

    &:hover { // .c-tooltip--bottom:hover

        &::before, // .c-tooltip--bottom:hover::before,
        &::after { // .c-tooltip--bottom:hover::after
            opacity: 1;
        }
    }
}



/// @group Components
/// @param {Length} $tipSize [nu-rem(4)] - Sets on background color
/// @param {String} $trans [$nu-trans] - Sets transition properties eg. 0.2 ease
/// @param {String} $colourPrimary [$nu-colourPrimary] - Sets background color
/// @param {String} $colour [white] - Sets text color
/// @param {Length} $fontSize [nu-rem(16)] - Font size
/// @param {Length} $fontWeight [500] - Font weight
/// @param {Number} $letterSpacing [0.25] - Letter spacing
/// @param {Length} $padding [nu-rem(2) nu-rem(8)] - Padding values
/// @param {Length} $radius [nu-radius] - Sets corner radius
/// @require {function} nu-rem
/// @require {mixin} nu-area

@mixin nu-component__tooltip(
    $tipSize:       nu-rem(4),
    $trans:         $nu-trans,
    $colourPrimary: $nu-colourPrimary,
    $colour:        white,
    $fontSize:      nu-rem(16),
    $fontWeight:    500,
    $letterSpacing: 0.25,
    $padding:       nu-rem(2) nu-rem(8),
    $radius:        $nu-radius
) {

    .c-tooltip {

        @include _nu-component__tooltip(
            $tipSize:       $tipSize,
            $trans:         $trans,
            $colourPrimary: $colourPrimary,
            $colour:        $colour,
            $fontSize:      $fontSize,
            $fontWeight:    $fontWeight,
            $letterSpacing: $letterSpacing,
            $padding:       $padding,
            $radius:        $radius
        );
    }
}


