/*----------------------------------------------------------------------------*\
    #TEXT UTILITIES
\*----------------------------------------------------------------------------*/

@mixin sb-utility__text(
    $responsive: $responsive,
    $utilities: (
        text-start,
        text-center,
        text-end,
        text-grow,
        text-shrink,
        text-bolder,
        text-lighter,
        text-strong,
        text-justify,
        text-success,
        text-warn,
        text-error,
        text-disabled,
        text-lower,
        text-upper,
        text-caps,
        text-nowrap
    )
) {

    @if index($utilities, text-bolder) {

        #{chain('.u-textBolder')} {
            font-weight: bolder;
        }
    }

    @if index($utilities, text-lighter) {

        #{chain('.u-textLighter')} {
            font-weight: lighter;
        }
    }

    @if index($utilities, text-strong) {

        #{chain('.u-textStrong')} {
            font-weight: 600;
        }
    }

    @if index($utilities, text-success) {

        #{chain('.u-textSuccess')} {
            color: $success;
        }
    }

    @if index($utilities, text-warn) {

        #{chain('.u-textWarn')} {
            color: $warn;
        }
    }

    @if index($utilities, text-error) {

        #{chain('.u-textError')} {
            color: $error;
        }
    }

    @if index($utilities, text-disabled) {

        #{chain('.u-textDisabled')} {
            color: $disabled;
        }
    }

    @if index($utilities, text-lower) {

        #{chain('.u-textLower')} {
            text-transform: lowercase;
        }
    }

    @if index($utilities, text-upper) {

        #{chain('.u-textUpper')} {
            text-transform: uppercase;
        }
    }

    @if index($utilities, text-caps) {

        #{chain('.u-textCaps')} {
            text-transform: capitalize;
        }
    }

    // Check first if we need to provide responsive utilities
    @if $responsive != false {

        @include breakpoints( $responsive ) {

            @include create-utilities-text( $utilities, $break );
        }
    }

    @else { // If not responsive, just run the general loop

        @include create-utilities-text( $utilities, $break: '' );
    }
}

@mixin create-utilities-text( $utilities, $break ) {

    @if index($utilities, text-start) {

        #{chain('.u-textStart' + $break)} {
            text-align: left;
            text-align: start;
        }
    }

    @if index($utilities, text-center) {

        #{chain('.u-textCenter' + $break)} {
            text-align: center;
        }
    }

    @if index($utilities, text-end) {

        #{chain('.u-textEnd' + $break)} {
            text-align: right;
            text-align: end;
        }
    }

    @if index($utilities, text-justify) {

        #{chain('.u-textJustify' + $break)} {
            text-align: justify;
        }
    }

    @if index($utilities, text-grow) {

        #{chain('.u-textGrow' + $break)} {
            font-size: 125%;
        }
    }

    @if index($utilities, text-shrink) {

        #{chain('.u-textShrink' + $break)} {
            font-size: 75%;
        }
    }

    @if index($utilities, text-nowrap) {

        #{chain('.u-textNoWrap' + $break)} {
            white-space: nowrap;
        }
    }
}


