/*----------------------------------------------------------------------------*\
    #VISIBILITY UTILITIES
\*----------------------------------------------------------------------------*/

@mixin sb-utility__visibility(
    $responsive: (up, only, down),
    $utilities: (
        hide,
        block,
        inblock,
        locked,
        radius,
        sticky,
        pointer
    )
) {

    @include breakpoints( $responsive ) {

        @if index($utilities, hide) {

            #{chain('.u-hide' + $break)} {
                display: none;
            }
        }

        @if index($utilities, block) {

            #{chain('.u-block' + $break)} {
                display: block;
            }
        }

        @if index($utilities, inblock) {

            #{chain('.u-inblock' + $break)} {
                display: inline-block;
            }
        }

        @if index($utilities, locked) {

            #{chain('.u-locked' + $break)} {
                overflow: hidden;
            }
        }

        @if index($utilities, sticky) {

            #{chain('.u-sticky' + $break)} {
                position: static;
                position: sticky;
                top: 0;
                z-index: 1;

                &::before, // .u-sticky.u-sticky::before,
                &::after { // .u-sticky.u-sticky::after
                    content: '';
                    display: table;
                }
            }
        }
    }

    @if index($utilities, radius) {

        #{chain('.u-radius')} {
            border-radius: $radius;
        }
    }

    @if index($utilities, pointer) {

        #{chain('.u-pointerNone' + $break)} {
            pointer-events: none;
        }
    }
}


