/*----------------------------------------------------------------------------*\
    #SENTANCE CASE
\*----------------------------------------------------------------------------*/

@mixin sentence-case() {

    text-transform: lowercase;

    &:first-letter {
        text-transform: uppercase;
    }
}


