/*----------------------------------------------------------------------------*\
    #SETTINGS

    Globally-available variables, settings & config switches.
\*----------------------------------------------------------------------------*/

@import 'settings/colours';              // Colour code variables.
@import 'settings/global';               // Global variables & config.
@import 'settings/uikit';                // UI Kit settings such as grid.


