/*----------------------------------------------*\
	#REBOOT BROWSER STYLES
\*----------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
    flex-shrink: 0;
    position: relative;
}

html {
    box-sizing: border-box;
}