/*----------------------------------------------*\
	#REBOOT BROWSER STYLES
\*----------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: inherit;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
}

html {
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

details,
main,
summary {
    display: block;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

template {
    display: none;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.625em 0;
}

small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    max-width: 100%;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

input {
    -webkit-border-radius: 0;
}

nav ol,
nav ul {
    list-style: none;
}

[disabled],
[aria-disabled]{
    cursor: default;
}

[aria-busy="true"] {
	cursor: progress;
}

[aria-controls] {
	cursor: pointer;
}

:root {
	background-color: white;
	box-sizing: border-box;
	color: black;
	cursor: default;
	font: 100%/1.5 sans-serif;
	text-rendering: optimizeLegibility;
}

abbr[title] {
    border-bottom: 1px dotted;
}

audio:not([controls]) {
    display: none;
}

a:active,
a:hover {
    outline: 0;
}

svg:not(:root) {
    overflow: hidden;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
    
input[type="number"] {
    width: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[hidden] {
    &[aria-hidden="false"] {
        clip: rect(0 0 0 0);
        display: inherit;
        position: absolute;
    }

    &[aria-hidden="false"]:focus {
        clip: auto;
    }
}