/*----------------------------------------------------------------------------*\
    #DOCUMENT ELEMENT STYLES
\*----------------------------------------------------------------------------*/

html,
body {
    min-height: 100vh;
}


