/*----------------------------------------------------------------------------*\
    #LINK ELEMENT STYLES
\*----------------------------------------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
}


