/*----------------------------------------------------------------------------*\
    #IMAGE & SVG ELEMENT STYLES
\*----------------------------------------------------------------------------*/

@mixin ui-element__media() {

    img,
    svg {
        display: block;
        max-width: 100%;
    }

    img {
        height: auto;
    }

    figure {
        margin: 0;
    }

}

