/*----------------------------------------------------------------------------*\
    #TYPE ELEMENT STYLES
\*----------------------------------------------------------------------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text;
    font-family: -apple-system,
                 BlinkMacSystemFont,
                 'Segoe UI',
                 Roboto,
                 Helvetica,
                 Arial,
                 sans-serif,
                 'Apple Color Emoji',
                 'Segoe UI Emoji',
                 'Segoe UI Symbol';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/*----------------------------------------------*\
    #HEADING BASE STYLES
\*----------------------------------------------*/

@if ( $responsiveType ) {

    @include breakpoints {
        
        @include headings( rem( $headingIncrement ) * $breakindex );
    
    }
}

@else {
    
    @include headings( rem( $headingIncrement * 3 ) );

}

.s1,
.s2,
.s3,
.s4,
.s5,
.s6 {
    font-weight: 400;
}



/*----------------------------------------------*\
    #TYPE ACCESSORIES
\*----------------------------------------------*/

hr {
    background-color: $secondary;
    border: none;
    height: 2px;
}


