/*----------------------------------------------------------------------------*\
    #TYPE ELEMENT STYLES
\*----------------------------------------------------------------------------*/

@mixin sb-element__type() {

    html {
        color: $text;
        font-family: $fontstack;
        font-size: $htmlFontSize;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        font-size: $baseFontSize;
    }



    /*----------------------------------------------*\
        #HEADING BASE STYLES
    \*----------------------------------------------*/

    @if ( $headingMarginTop == false ) {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
        }
    }

    @if ( $responsiveType ) {

        @include breakpoints {

            @include headings( rem( $headingIncrement ) * $breakindex );
        }
    }

    @else {

        @include headings( rem( $headingIncrement * 3 ) );
    }



    /*----------------------------------------------*\
        #TYPE ACCESSORIES
    \*----------------------------------------------*/

    hr {
        background-color: $secondary;
        border: none;
        height: 2px;
    }

    @if ( $paragraphMarginTop == false ) {

        p {
            margin-top: 0;
        }
    }
}


