.table {
    border-collapse: collapse;

    th, td {
        border-left: 1px solid lightgrey;
        padding: 0.8rem 3.2rem 0.8rem 1.2rem;
        text-align: left;

        &:first-child {
            border-left: 0;
            padding-left: 0;
        }
    }

    td {
        border-top: 1px solid lightgrey;
    }
}