/*----------------------------------------------*\
	#FORM BASE STYLES
\*----------------------------------------------*/

fieldset {
    border: 2px solid lightgrey;
}

label {
    
}

legend {
    padding: 0 0.5rem;
}

select {
    background-repeat: repeat;
}

textarea {
    resize: vertical;
}

textarea,
[type="color"],
[type="email"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"] {
    border: 2px solid lightgrey;
    height: 2.5rem;
    display: block;
    padding: 0 0.5rem;
    width: 100%;
    
    &:focus {
        border: 2px solid $night;
		outline: none;
	}
}

[type="checkbox"],
[type="radio"] {
    left: -100vw;
    opacity: 0;
    position: absolute;
    
    + label {
        display: flex;
        margin-bottom: 1rem;
        
        
        &::before {
            box-shadow: inset 0 0 0 2px lightgrey;
            content: '';
            display: inline-block;
            @include size(1.125rem);
            margin-right: 0.5rem;
            text-align: center;
            transition: all $speed ease;
        }
    }
}

[type="checkbox"] {
    
    + label::before {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M31.74,7.14L27.63,3A0.88,0.88,0,0,0,26.5,3L10.38,19.11l-4.93-5a0.81,0.81,0,0,0-1.13,0L0.21,18.29a0.76,0.76,0,0,0-.21.57,0.7,0.7,0,0,0,.21.51L9.81,29a0.79,0.79,0,0,0,.57.26h0.05A0.55,0.55,0,0,0,10.94,29L31.74,8.22A0.79,0.79,0,0,0,32,7.65,0.63,0.63,0,0,0,31.74,7.14Z" /></svg>') no-repeat center 1.125rem / 0.75rem;
        border-radius: $radius/2;
    }
    
    &:checked + label::before {
        background-position-y: center;
    }
}

[type="radio"] {
    
    + label::before {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><circle cx="16" cy="16" r="10" />></svg>') no-repeat center / 0;
        border-radius: 50%;
    }
    
    &:checked + label::before {
        background-size: 0.75rem;
    }
}


