/*----------------------------------------------*\
	#FORM BASE STYLES
\*----------------------------------------------*/

button {
    appearance: none;
    background: none;
    border: none;
}

textarea {
    resize: vertical;
}

button,
textarea {
    &:focus {
		outline: none;
	}
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
    
}

fieldset {
    
}

form {
    
}

input {
    
}

isindex {
    
}

label {
    
}

legend {
    
}

optgroup {
    
}

option {
    
}

select {
    
}