/*----------------------------------------------*\
	#TYPE BASE STYLES
\*----------------------------------------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

hr {
    background-color: lightgrey;
    border: none;
    height: 2px;
}


/*----------------------------------------------*\
	#HEADING BASE STYLES
\*----------------------------------------------*/

@include headings(0.125rem);

/* Tablet & up */
@media only screen and (min-width: 40.063em) {
	@include headings(0.25rem);
}

/* Laptop & up */
@media only screen and (min-width: 64.063em) {
	@include headings(0.375rem);
}

/* Desktop & up */
@media only screen and (min-width: 90.063em) {
	@include headings(0.5rem);
}