/*----------------------------------------------*\
	#TYPE BASE STYLES
\*----------------------------------------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}


