/*----------------------------------------------*\
	#TYPE BASE STYLES
\*----------------------------------------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Arial, sans-serif;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
}



/*----------------------------------------------*\
	#HEADING BASE STYLES
\*----------------------------------------------*/

@include breakpoints {
    
    @include headings(rem(2px) * $breakindex) {
        
        line-height: initial;
    
    };

}



/*----------------------------------------------*\
	#TYPE ACCESSORIES
\*----------------------------------------------*/

hr {
    background-color: lightgrey;
    border: none;
    height: 2px;
}


