/*----------------------------------------------*\
	#TYPE BASE STYLES
\*----------------------------------------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

hr {
    background-color: lightgrey;
    border: none;
    height: 2px;
}


/*----------------------------------------------*\
	#HEADING BASE STYLES
\*----------------------------------------------*/

@include breakpoints {
    
    @include headings(rem(2px) * $breakindex);

}

