/*----------------------------------------------*\
	#BUTTON COMPONENT STYLES
\*----------------------------------------------*/

.button {
    background-color: black;
    box-shadow: inset 0 0 0 2px transparent;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 1rem;
    text-align: center;
    transition: all 0.25s ease;
    
    &:hover {
        background-color: white;
        box-shadow: inset 0 0 0 2px black;
        color: black;
    }
}

.button--tiny {
    font-size: 0.75rem;
    padding: 0.5rem;
}

.button--small {
    font-size: 0.88rem;
    padding: 0.5rem;
}

.button--medium {
    font-size: 1rem;
    padding: 0.75rem;
}

.button--large {
    font-size: 1rem;
    padding: 1rem;
}

.button--xlarge {
    font-size: 1.125rem;
    padding: 1.25rem;
}

.button--xxlarge {
    font-size: 1.25rem;
    padding: 1.5rem;
}

.button--xxxlarge {
    font-size: 1.5rem;
    padding: 2rem;
}

.button--radius {
    border-radius: 4px;
}

.button--round {
    border-radius: 4rem;
}

.button--disabled {
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
}

.button--line {
    background: none;
    box-shadow: inset 0 0 0 2px black;
    color: black;
}

.button--expand {
    display: block;
    width: 100%;
}

.button--text {
    background: none;
    color: black;
}


