/*----------------------------------------------*\
	#BUTTON COMPONENT STYLES
\*----------------------------------------------*/

button,
.button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: none;
    background: $night;
    border: none;
    box-shadow: inset 0 0 0 2px transparent;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 0.75rem 1rem;
    text-align: center;
    transition: all $speed ease;
    
    &:disabled {
        background-color: lightgrey;
        box-shadow: none;
        color: grey;
        pointer-events: none;
    }
    
    &:focus {
		outline: none;
	}
    
    &:hover {
        background-color: white;
        box-shadow: inset 0 0 0 2px $night;
        color: $night;
    }
}

.button {

    &--line {
        background: none;
        box-shadow: inset 0 0 0 2px $night;
        color: $night;
    }
    
    &--expand {
        display: block;
        width: 100%;
    }
    
    &--text {
        background: none;
        color: black;
        
        &:disabled {
            background: none;
        }
    }
    
    &--round {
        border-radius: 10rem;
    }
    
    &--tiny {
        font-size: 0.75rem;
        padding: 0.5rem 0.625rem;
    }
    
    &--small {
        font-size: 0.88rem;
        padding: 0.5rem 0.625rem;
    }
    
    &--medium {
        padding: 0.75rem 0.875rem;
    }
    
    &--large {
        padding: 1rem 1.125rem;
    }
    
    &--xlarge {
        font-size: 1.125rem;
        padding: 1.25rem 1.375rem;
    }
    
    &--xxlarge {
        font-size: 1.25rem;
        padding: 1.5rem 1.625rem;
    }
    
    &--xxxlarge {
        font-size: 1.5rem;
        padding: 2rem 2.125rem;
    }
}


