.list--inline {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
    .list__item {
        flex-grow: 1;
    }
}

.list--no {
    list-style: none;
    margin: 0;
    padding: 0;
}