/*--------------------------------------------------*\
	#NAVIGATION COMPONENT
\*--------------------------------------------------*/

/* Nav JS & no-JS shared styles */

.nav {
    display: none;
    list-style: none;
    margin: 0;
    max-height: 70vh;
    overflow: auto;
    padding: 0;
    text-align: center;
    -webkit-overflow-scrolling: touch;

        // Elements
        
        &__link {
            display: block;
            padding: 0.5rem;
        }
              
    &--nest {
        display: block;
    }
}

//Desktop Up

@include media(l) {
        
    .nav {
        display: flex;
        overflow: visible;
                
            // Elements
            
            &__item {
                flex: 1 0 0; 
            
                &--drop {
                    display: flex;
                    flex-direction: column;
                    
                    /*
&:hover > .nav--nest {
                        display: block;
                    }
*/
                    
                    .nav__item--drop:hover > .nav--nest {
                        left: 100%; top: 0;
                    }
                }
            }
        
        // Modifiers
        
        &--primary {
            align-items: center;
        }
        
        &--nest {
            display: none;
            position: absolute;
            text-align: left;
            width: 100%;
            z-index: 10;
        }
    }
}



/* No JS */

.no-js  {
    
    // Toggle rule only for no-js
    
    .nav-toggle:hover ~ .nav,
    .nav--primary:hover { 
        display: block;
    }
}



/* JS Enabled Mobile */

.js {
    
    //Mobile Up
    
    .nav {
        
            // Elements
        
            &__item--drop {
                position: static;
            }
        
            &__link--close {
                display: block;
                padding: 0.5rem;
            }
        
        // Modifiers
        
        &--primary {
            bottom: 0;
            box-shadow: 0 0 0 1000vmax rgba(black,0);
            display: block;
            max-height: 60vh;
            overflow-x: hidden;
            position: fixed;
            transform: translateY(60vh);
            transition: transform $speed ease, box-shadow $speed ease;      
            width: 100vw;
            z-index: 10;
            
                
            &.nav--active {
                box-shadow: 0 0 0 1000vmax rgba(black,0.6);
                transform: translateY(0);
            }
        }
        
        &--nest {
            @include size(60vh,100vw);
            left: 0; top: 0;
            overflow-x: hidden;
            position: absolute;
            transform: translateX(100vw);
            transition: transform $speed ease;
            z-index: 1;
        }
        
        // States
        
        &__item--drop-active {
            
            > .nav--nest {
                transform: translateX(0);
            }
        }
    }

    //Tablet Up
    
    //Desktop Up
    
    @include media(l) {
        
        .nav {
            
            &--primary {
                display: flex;
                position: relative;
                transform: translateY(0);
            }
        }
        
    }
}


