/*----------------------------------------------------------------------------*\
    #HEADING SIZES MIXIN
\*----------------------------------------------------------------------------*/

/// @group Tools
/// @param {Length} $jump - Difference between heading sizes
/// @param {Boolean} $element [false] - Whether to output h1 instead of .u-h1
/// @require {function} nu-rem

@mixin nu-headings($jump, $element: false) {

    @if ( $element ) {

        @for $i from 1 through 6 {

            h#{$i} {
                font-size: $nu-baseFontSize + ($jump * (6 - $i));
            }
        }
    }

    @else {

        @for $i from 1 through 6 {

            .u-h#{$i} {
                font-size: $nu-baseFontSize + ($jump * (6 - $i));
            }
        }

        @for $i from 1 through 6 {

            .u-s#{$i} {
                font-size: $nu-baseFontSize + ($jump * (6 - $i)) - nu-rem(4);
            }
        }
    }
}


