/*----------------------------------------------------------------------------*\
    #MEDIA QUERY MIXIN
\*----------------------------------------------------------------------------*/

/// @group Tools
/// @param {Length} $minbreak [null] - Lower end of the media query
/// @param {Length} $maxbreak [null] - Higher end of the media query
/// @param {Length} $type [null] - Type of media query

@mixin media( $minbreak: null, $maxbreak: null, $type: null ) {

    $media: '';
    $from: map-get($breakpoints, $minbreak);
    $from: if( $from != null, $from - 1px, null );
    $to: map-get($breakpoints, $maxbreak);

    @if ( $from != null and $maxbreak == null ) {

        $media: '(min-width: #{ $from })';
    }

    @else if ( ( $minbreak == null or $from == null ) and $maxbreak != null ) {

        $media: '(max-width: #{ $to })';
    }

    @else if ( $type == 'print' ) {

        $media: 'only #{ $type }';
    }

    @else if ( $from != null and $to != null ) {

        $media: '(min-width: #{ $from }) and (max-width: #{ $to })';
    }

    @else {

        $media: 'all';
    }

    @media #{ $media } {

        @content;
    }
}


