/*----------------------------------------------*\
	#PAGE BASE STYLES
\*----------------------------------------------*/

html,
body {
    box-sizing: border-box;
    line-height: 1.75;
    min-height: 100vh;
}


