/*----------------------------------------------------------------------------*\
	#IMAGE & SVG ELEMENT STYLES
\*----------------------------------------------------------------------------*/

img {
    height: auto;
}

img,
svg {
    display: block;
    max-width: 100%;
}


