/*----------------------------------------------------------------------------*\
    #LIST ELEMENT STYLES
\*----------------------------------------------------------------------------*/

@mixin ui-element__list() {

    ol,
    ul {
        padding-left: rem(24);
    }

    ol {
        counter-reset: item;

        > li {
            counter-increment: item;
        }

        ol > li {
            display: block;

            &::before {
                content: counters(item, '.') '. ';
                margin-left: rem(-20);
            }
        }
    }
}

