/*----------------------------------------------*\
	#TYPE BASE STYLES
\*----------------------------------------------*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}



/*----------------------------------------------*\
	#HEADING BASE STYLES
\*----------------------------------------------*/

@if ( $responsiveType ) {

    @include breakpoints {
        
        @include headings( rem( 2px ) * $breakindex );
    
    }
}

@else {
    
    @include headings( rem( 6px ) );

}



/*----------------------------------------------*\
	#TYPE ACCESSORIES
\*----------------------------------------------*/

hr {
    background-color: lightgrey;
    border: none;
    height: 2px;
}


