/*----------------------------------------------------------------------------*\
    #BREAKPOINTS LOOP MIXIN
\*----------------------------------------------------------------------------*/

@mixin breakpoints( $choice: (up) ) {

    @if ( $choice != false ) {

        @each $breakclass, $breakpoint in $breakpoints {

            $breakindex: index( map-keys( $breakpoints ), $breakclass ) !global;


            //  AND UP MEDIA QUERY LOOP

            @if ( $choice == null or $choice == 0 or index($choice, up) ) {

                @if ( $breakindex == 1 ) {

                    $break: '' !global;

                    @content;
                }

                @else {

                    $break: $mediaClass + $breakclass !global;
                    $screen: 'only screen and (min-width: #{ em( $breakpoint ) })';

                    @media #{ $screen } {

                        @content;
                    }
                }
            }


            //  ONLY MEDIA QUERY LOOP

            @if ( index($choice, only) ) {

                $break: $mediaClass + $breakclass + '-only' !global;

                @if ( length( $breakpoints ) > $breakindex ) {

                    $screenOnly: null;
                    $nextBreakpoint: map-get( $breakpoints, nth( map-keys( $breakpoints ), $breakindex + 1 ) );

                    @if ( $breakindex > 1 ) {

                        $screenOnly: 'only screen and (min-width: #{ em( $breakpoint ) }) and (max-width: #{ em( $nextBreakpoint - 1 ) })';
                    }

                    @else {

                        $screenOnly: 'only screen and (max-width: #{ em( $nextBreakpoint - 1 ) })';
                    }

                    @media #{ $screenOnly } {

                        @content;
                    }
                }
            }


            //  AND DOWN MEDIA QUERY LOOP

            @if ( index($choice, down) ) {

                $break: $mediaClass + $breakclass + '-down' !global;

                @if ( length( $breakpoints ) > $breakindex ) {

                    $nextBreakpoint: map-get( $breakpoints, nth( map-keys( $breakpoints ), $breakindex + 1 ) );
                    $screen: 'only screen and (max-width: #{ em( $nextBreakpoint ) })';

                    @media #{ $screen } {

                        @content;
                    }
                }
            }
        }
    }

    @else {

        $break: '' !global;
        @content;
    }
}


