/*----------------------------------------------------------------------------*\
    #HEADING SIZES MIXIN
\*----------------------------------------------------------------------------*/

@mixin headings($jump, $element: false) {

    @if ( $element ) {

        @for $i from 1 through 6 {

            h#{$i} {
                font-size: $baseFontSize + ($jump * (6 - $i));
            }
        }
    }

    @else {

        @for $i from 1 through 6 {

            .u-h#{$i} {
                font-size: $baseFontSize + ($jump * (6 - $i));
            }
        }

        @for $i from 1 through 6 {

            .u-s#{$i} {
                font-size: $baseFontSize + ($jump * (6 - $i)) - rem(4);
            }
        }
    }
}


