/*----------------------------------------------------------------------------*\
    #FLEX UTILITIES
\*----------------------------------------------------------------------------*/

/// @group Utilities
/// @param {List} $responsive [(up, only)] - Breakpoint rules
/// @require {function} nu-chain
/// @require {mixin} nu-breakpoints

@mixin nu-utility__flex(
    $responsive: (up, only)
) {

    #{nu-chain('.u-flex')} {
        display: flex;
    }

    #{nu-chain('.u-inflex')} {
        display: inline-flex;
    }

    @include nu-breakpoints( $responsive ) {

        #{nu-chain('.u-grow' + $break)} {
            flex-grow: 1;
        }

        #{nu-chain('.u-noGrow' + $break)} {
            flex-grow: 0;
        }

        #{nu-chain('.u-shrink' + $break)} {
            flex-shrink: 1;
        }

        #{nu-chain('.u-noShrink' + $break)} {
            flex-shrink: 0;
        }

        #{nu-chain('.u-row' + $break)} {
            flex-direction: row;
        }

        #{nu-chain('.u-column' + $break)} {
            flex-direction: column;
        }

        #{nu-chain('.u-rowReverse' + $break)} {
            flex-flow: row-reverse;
        }

        #{nu-chain('.u-columnReverse' + $break)} {
            flex-flow: column-reverse;
        }

        #{nu-chain('.u-justifyStart' + $break)} {
            justify-content: flex-start;
        }

        #{nu-chain('.u-justifyCenter' + $break)} {
            justify-content: center;
        }

        #{nu-chain('.u-justifyEnd' + $break)} {
            justify-content: flex-end;
            margin-left: auto;
        }

        #{nu-chain('.u-alignStart' + $break)} {
            align-items: flex-start;
        }

        #{nu-chain('.u-alignCenter' + $break)} {
            align-items: center;
        }

        #{nu-chain('.u-alignEnd' + $break)} {
            align-items: flex-end;
        }

        #{nu-chain('.u-alignSelfStart' + $break)} {
            align-self: flex-start;
        }

        #{nu-chain('.u-alignSelfCenter' + $break)} {
            align-self: center;
        }

        #{nu-chain('.u-alignSelfEnd' + $break)} {
            align-self: flex-end;
        }

        #{nu-chain('.u-around' + $break)} {
            justify-content: space-around;
        }

        #{nu-chain('.u-between' + $break)} {
            justify-content: space-between;
        }

        #{nu-chain('.u-first' + $break)} {
            order: -1;
        }

        #{nu-chain('.u-last' + $break)} {
            order: 1;
        }

        #{nu-chain('.u-wrap' + $break)} {
            flex-wrap: wrap;
        }

        #{nu-chain('.u-nowrap' + $break)} {
            flex-wrap: nowrap;
        }
    }
}


