/*----------------------------------------------------------------------------*\
    #OFFSET UTILITIES
\*----------------------------------------------------------------------------*/

/// @group Utilities
/// @param {List} $responsive [(up, only)] - Breakpoint rules
/// @require {mixin} nu-breakpoints

@mixin nu-utility__offset(
    $responsive: (up, only)
) {

    @include nu-breakpoints( $responsive ) {

        @for $inset from 1 through $nu-gridColumns {

            .u-inset-#{ $inset }#{ $break } {
                margin-left: floor( 100% / $nu-gridColumns * ( $inset * 1000 ) ) / 1000;
            }
        }

        @for $outsetLeft from 1 through $nu-gridColumns {

            .u-outsetLeft-#{ $outsetLeft }#{ $break } {
                margin-left: floor( -100% / $nu-gridColumns * ( $outsetLeft * 1000 ) ) / 1000;
            }
        }

        @for $outsetRight from 1 through $nu-gridColumns {

            .u-outsetRight-#{ $outsetRight }#{ $break } {
                margin-right: floor( -100% / $nu-gridColumns * ( $outsetRight * 1000 ) ) / 1000;
            }
        }
    }
}


