/*----------------------------------------------------------------------------*\
    #SIZE UTILITIES
\*----------------------------------------------------------------------------*/

/// @group Utilities
/// @param {List} $responsive [(up)] - Breakpoint rules
/// @require {mixin} nu-breakpoints

@use "sass:math";
@mixin nu-utility__size(
    $responsive: (up)
) {

    @include nu-breakpoints( $responsive ) {

        .u-size-auto#{ $break } {
            flex-grow: 1;
            flex-basis: auto;
            max-width: 100%;
            width: 0%;
        }

        @for $grid from 0 through $nu-gridColumns {

            $width: if(
                $grid == 0,
                auto,
                math.div(floor( math.div(100%, $nu-gridColumns) * ( $grid * 1000 ) ), 1000)
            );

            .u-size-#{ $grid }#{ $break } {
                flex-basis: $width;
                max-width: $width;
                width: $width;
            }
        }
    }
}


