/*----------------------------------------------------------------------------*\
    #AREA MIXIN
\*----------------------------------------------------------------------------*/

@mixin area( $height, $width: $height ) {
    
    height: $height; width: $width;
}


