/*----------------------------------------------------------------------------*\
    #NEUEKIT

    Neue Kit objects, components, utilities & overrides. Comment to disable.
\*----------------------------------------------------------------------------*/

@import 'settings';
@import '_neuekit';



/*----------------------------------------------------------------------------*\
    #ELEMENTS

    Element resets, styles alongside psuedo & wildcard far reaching declarations.
\*----------------------------------------------------------------------------*/

@include nu-elements();

// @include nu-element__shared();      // Shared global commonalities.
// @include nu-element__document();     // Page-level styles (HTML, body etc).
// @include nu-element__details();      // Native details component.
// @include nu-element__form();         // Form fieldset and legend.
// @include nu-element__inputs();       // Input, select, textarea, button etc.
// @include nu-element__link();         // Hyperlinks.
// @include nu-element__list();         // Lists.
// @include nu-element__media();        // Media elements, img, svg, video, etc.
// @include nu-element__quote();        // Blockquotes, cite, etc.
// @include nu-element__table();        // Table element styles.
// @include nu-element__type();         // All type styles.
// @include nu-element__toggles();      // Checkbox and radio elements.
// @include nu-element__meter();        // The native meter element.
// @include nu-element__progress();     // The native progress element.
// @include nu-element__range();        // The native range input element.
// @include nu-element__aria();         // Accessibility attribute styles.



/*----------------------------------------------------------------------------*\
    #OBJECTS

    Design Patterns. Layout. No cosmetics. Start using agnostic classes only.
\*----------------------------------------------------------------------------*/

@include nu-objects();

// @include nu-object__feed();             // Feed object with fixed top/tail.
// @include nu-object__grid();             // Flex based grid layout.
// @include nu-object__inline();           // Flex based inliner.
// @include nu-object__unlist();           // Strip list styles.


/*----------------------------------------------------------------------------*\
    #COMPONENTS

    Designed pieces of UI. Only using classes. More explicit naming.
\*----------------------------------------------------------------------------*/

@include nu-components();

// @include nu-component__adjacent();      // Adjacent input styles.
// @include nu-component__button();        // Button styles.
// @include nu-component__loading();       // Loading indicator component.
// @include nu-component__modal();         // Modal styles.
// @include nu-component__navigation();    // Responsive navigation component.
// @include nu-component__off-canvas();    // Pure CSS off canvas panel.
// @include nu-component__tabs();          // Tabs component.
// @include nu-component__toggle();        // Toggle for checkbox.
// @include nu-component__tooltip();       // Tooltips component.
// @include nu-component__validate();      // Input validation component.



/*----------------------------------------------------------------------------*\
    #UTILITIES

    Overrides, helpers, utilities. Only affect one item at a time.
\*----------------------------------------------------------------------------*/

@include nu-utilities();

// @include nu-utility__flex();            // Flex based sizes.
// @include nu-utility__offset();          // Give flex a helping hand.
// @include nu-utility__size();            // Margin offsets for asymetric layouts.
// @include nu-utility__spacing();         // Micro-level spacing.
// @include nu-utility__text();            // Handy text assistants.
// @include nu-utility__visibility();      // Helpers to show and side stuff.


