.app-head {
    background-color: #111111;
    color: white;
    display: flex;
    height: 4rem;
    flex-direction: row;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    &__logo {
        line-height: 1.25;
        font-size: 1.125rem;
        margin: auto;
    }
    
    &__logo-little {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}


