/*----------------------------------------------------------------------------*\
    #FLEX HELPERS
\*----------------------------------------------------------------------------*/

@mixin ui-helper__flex() {

    #{chain('.flex')} {
        display: flex;
    }

    #{chain('.grow')} {
        flex-grow: 1;
    }

    #{chain('.no-grow')} {
        flex-grow: 0;
    }

    @include breakpoints( both ) {

        #{chain('.row' + $break)} {
            flex-direction: row;
        }

        #{chain('.column' + $break)} {
            flex-direction: column;
        }

        #{chain('.row-reverse' + $break)} {
            flex-flow: row-reverse;
        }

        #{chain('.column-reverse' + $break)} {
            flex-flow: column-reverse;
        }

        #{chain('.justify-start' + $break)} {
            justify-content: flex-start;
            margin-left: 0;
            margin-right: auto;
        }

        #{chain('.justify-center' + $break)} {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }

        #{chain('.justify-end' + $break)} {
            justify-content: flex-end;
            margin-left: auto;
            margin-right: 0;
        }

        #{chain('.align-start' + $break)} {
            align-items: flex-start;
        }

        #{chain('.align-center' + $break)} {
            align-items: center;
        }

        #{chain('.align-end' + $break)} {
            align-items: flex-end;
        }

        #{chain('.align-self-start' + $break)} {
            align-self: flex-start;
        }

        #{chain('.align-self-center' + $break)} {
            align-self: center;
        }

        #{chain('.align-self-end' + $break)} {
            align-self: flex-end;
        }

        #{chain('.around' + $break)} {
            justify-content: space-around;
        }

        #{chain('.between' + $break)} {
            justify-content: space-between;
        }

        #{chain('.first' + $break)} {
            order: -1;
        }

        #{chain('.last' + $break)} {
            order: 1;
        }

        #{chain('.wrap' + $break)} {
            flex-wrap: wrap;
        }

        #{chain('.nowrap' + $break)} {
            flex-wrap: nowrap;
        }
    }
}


