/*----------------------------------------------------------------------------*\
	#STYLE/THEME HELPERS
\*----------------------------------------------------------------------------*/

.radius {
    border-radius: $radius;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    
    &::before,
    &::after {
        content: '';
        display: table;
    }
}


