/*----------------------------------------------------------------------------*\
    #DOCUMENT ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/// @group Elements

@mixin nu-element__document() {

    /*----------------------------------------------------------------------------*\
        1. Add border box sizing in all browsers (opinionated).
        2. Add the default cursor in all browsers (opinionated).
        3. Add a flattened line height in all browsers (opinionated).
        4. Prevent font size adjustments after orientation changes in iOS.
    \*----------------------------------------------------------------------------*/

    html {
        box-sizing: border-box;             /* 1 */
        color: $nu-colourText;
        cursor: default;                    /* 2 */
        font-family: $nu-fontstack;
        font-size: $nu-htmlFontSize;
        line-height: 1.5;                   /* 3 */
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;     /* 4 */
    }


    /*----------------------------------------------------------------------------*\
        1. Remove the margin in all browsers (opinionated).
    \*----------------------------------------------------------------------------*/

    body {
        font-size: $nu-baseFontSize;
        margin: 0; /* 1 */
    }


    html,
    body {
        min-height: 100vh;
    }


    /*----------------------------------------------------------------------------*\
        1. Add the correct display in IE.
    \*----------------------------------------------------------------------------*/

    template {
        display: none; /* 1 */
    }
}


