/*----------------------------------------------------------------------------*\
    #FORM ELEMENT STYLES
\*----------------------------------------------------------------------------*/

@mixin nu-element__form() {

    /*----------------------------------------------------------------------------*\
        Correct the border, margin, and padding in all browsers.
    \*----------------------------------------------------------------------------*/

    fieldset {
        border: 2px solid $input;
        margin: 0 2px;
        padding: 0.35em 0.75em 0.625em;
    }


    /*----------------------------------------------------------------------------*\
        1. Correct the text wrapping in Edge and IE.
        2. Adjust default padding for use in fieldset (opinionated).
        3. Correct the color inheritance from `fieldset` elements in IE.
    \*----------------------------------------------------------------------------*/

    legend {
        color: inherit;         /* 3 */
        display: table;         /* 1 */
        max-width: 100%;        /* 1 */
        padding: 0 rem(8);      /* 2 */
        white-space: normal;    /* 1 */
    }
}


