/*----------------------------------------------------------------------------*\
    #LIST ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem

@mixin nu-element__inputs() {

    /*----------------------------------------------------------------------------*\
        1. Remove the vertical scrollbar in IE.
        2. Change the resize direction on textareas in all browsers (opinionated).
    \*----------------------------------------------------------------------------*/

    textarea {
        overflow: auto;     /* 1 */
        resize: vertical;   /* 2 */
    }


    /*----------------------------------------------------------------------------*\
        Correct the cursor style on increment and decrement buttons in Chrome.
    \*----------------------------------------------------------------------------*/

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        height: auto;
    }


    /*----------------------------------------------------------------------------*\
        Remove the inner padding and cancel buttons in Chrome and Safari for macOS.
    \*----------------------------------------------------------------------------*/

    ::-webkit-search-cancel-button,
    ::-webkit-search-decoration {
        -webkit-appearance: none;
    }


    /*----------------------------------------------------------------------------*\
        Correct the text style on placeholders in Chrome, Edge, and Safari.
    \*----------------------------------------------------------------------------*/

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: 0.5;
    }


    /*----------------------------------------------------------------------------*\
        1. Correct the inability to style clickable types in iOS and Safari.
        2. Change font properties to `inherit` in Safari.
    \*----------------------------------------------------------------------------*/

    ::-webkit-file-upload-button {
        -webkit-appearance: button;     /* 1 */
        font: inherit;                  /* 2 */
    }


    /*----------------------------------------------------------------------------*\
        1. Remove the default styling in all browsers (opinionated).
        2. Remove the margin in Firefox and Safari.
    \*----------------------------------------------------------------------------*/

    button,
    input,
    select,
    textarea {
        background-color: transparent;  /* 1 */
        border-style: none;             /* 1 */
        color: inherit;                 /* 1 */
        font-size: inherit;             /* 1 */
        line-height: inherit;           /* 1 */
        margin: 0;                      /* 2 */
    }


    /*----------------------------------------------------------------------------*\
        Correct the overflow in IE.
        1. Correct the overflow in Edge
    \*----------------------------------------------------------------------------*/

    button,
    input { /* 1 */
        overflow: visible;
    }


    /*----------------------------------------------------------------------------*\
        Remove the inheritance in Edge, Firefox, and IE.
        1. Remove the inheritance in Firefox.
    \*----------------------------------------------------------------------------*/

    button,
    select { /* 1 */
        text-transform: none;
    }


    /*----------------------------------------------------------------------------*\
        1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
           controls in Android 4.
        2. Correct the inability to style clickable types in iOS and Safari.
    \*----------------------------------------------------------------------------*/

    button,
    [type="button"],                    /* 1 */
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;     /* 2 */
        cursor: pointer;
    }


    /*----------------------------------------------------------------------------*\
        1. Correct the odd appearance in Chrome and Safari.
        2. Correct the outline style in Safari
    \*----------------------------------------------------------------------------*/

    [type="search"] {
        -webkit-appearance: textfield;  /* 1 */
        outline-offset: -2px;           /* 2 */
    }

    ::-ms-value {
        background-color: transparent;
    }

    ::-ms-browse {
        background-color: $nu-colourPrimary;
        border: none;
        border-radius: $nu-radius;
        color: white;
        margin-left: nu-rem(4);
        min-height: nu-rem(36);
        padding: nu-rem(10) nu-rem(12) nu-rem(8);
    }

    ::-webkit-date-and-time-value {
        margin: 0;
    }

    ::-webkit-file-upload-button {
        font-size: nu-rem(12);
    }

    ::-webkit-inner-spin-button {
        cursor: pointer;
        opacity: 0;
    }

    ::-webkit-search-cancel-button {
        background-image: url(nu-svgEncode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 62"><path d="M32,1A31,31,0,1,0,63,32,31,31,0,0,0,32,1ZM48.26,42.61a4,4,0,0,1-5.66,5.66L32,37.68,21.41,48.28a4,4,0,0,1-5.66-5.66L26.36,32,15.74,21.39a4,4,0,0,1,0-5.66h0a4,4,0,0,1,5.66,0L32,26.36,42.63,15.76a4,4,0,0,1,5.66,5.66L37.68,32Z" fill="#{$nu-colourTertiary}" transform="translate(-1.02 -1.02)" /></svg>'));
        cursor: pointer;
        @include nu-area(nu-rem(16));
        opacity: 0.8;
    }

    ::-webkit-file-upload-button,
    [type="file"] {
        cursor: pointer;
        line-height: 1;
    }

    button {
        cursor: pointer;
    }

    select {
        appearance: none;
        background: $nu-colourInput url(nu-svgEncode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-916.724 629.245 16.039 9.434"><path fill="none" stroke="#{$nu-colourPrimary}" stroke-width="2" d="M-1077.422,566.75l7.313,7.313,7.313-7.313" transform="translate(161.405 63.202)" /></svg>')) no-repeat right #{nu-rem(10)} center / #{nu-rem(10)};
        border-radius: $nu-radius;
        border: none;
        cursor: pointer;
        height: nu-rem(36);
        line-height: 2.25;
        padding: 0 nu-rem(32) 0 nu-rem(16);

        &:focus { // select:focus
            outline: none;
        }

        &:-moz-focusring { // select:-moz-focusring
            color: transparent;
            text-shadow: 0 0 0 $nu-colourPrimary;
        }

        &::-ms-expand { // select::-ms-expand
            display: none;
        }
    }

    textarea,
    [type="email"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"] {
        appearance: none;
        @if(not($nu-plainInputs)) {
            background-color: $nu-colourInput;
            box-shadow: inset 0 0 0 2px $nu-colourInput;
        }
        @else {
            background-color: white;
        }
        border: none;
        border-radius: $nu-radius;
        display: flex;
        flex-flow: row;
        font-family: inherit;
        min-height: nu-rem(40);
        outline: none;
        padding: 0 nu-rem(12);
        transition: background-color $nu-trans;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;

        &:focus { // textarea:focus, [type="email"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="number"]:focus, [type="password"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="text"]:focus, [type="time"]:focus, [type="url"]:focus, [type="week"]:focus
            background-color: white;
            @if(not($nu-plainInputs)) {
                box-shadow: inset 0 0 0 2px $nu-colourInput;
            }
        }
    }

    textarea {
        height: nu-rem(120);
        padding: nu-rem(6) nu-rem(12);
    }

    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="time"],
    [type="week"] {
        max-width: 100%;
    }

    [type="number"] {
        background-image: url(nu-svgEncode('<svg xmlns="http://www.w3.org/2000/svg" viewBox="-916.724 608.538 16.039 30.141"><g transform="translate(-1436)"><path fill="none" stroke="#{$nu-colourPrimary}" stroke-width="2" d="M-1077.422,566.75l7.313,7.313,7.313-7.313" transform="translate(1597.405 63.202)"/><path fill="none" stroke="#{$nu-colourPrimary}" stroke-width="2" d="M-1077.422,566.75l7.313,7.313,7.313-7.313" transform="translate(-542.814 1184.015) rotate(180)"/></g></svg>'));
        background-position: right nu-rem(14) center;
        background-size: nu-rem(10);
    }

    @-moz-document url-prefix() {

        [type="number"] {
            background: $nu-colourInput;
        }
    }

    [type="color"] {
        border-radius: 50%;
        @include nu-area(nu-rem(40));
        overflow: hidden;
        padding: 0;

        &:focus { // [type="color"]:focus
            outline: none;
        }

        &::-webkit-color-swatch-wrapper { // [type="color"]::-webkit-color-swatch-wrapper
            padding: 0;
        }

        &::-webkit-color-swatch { // [type="color"]::-webkit-color-swatc
            border: 2px solid $nu-colourInput;
            border-radius: 50%;
        }

        &::-moz-color-swatch { // [type="color"]::-moz-color-swatch
            border: 2px solid $nu-colourInput;
            border-radius: 50%;
        }
    }
}


