/*----------------------------------------------------------------------------*\
    #LIST ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem

@mixin nu-element__list() {

    /*----------------------------------------------------------------------------*\
        1. Remove the list style on navigation lists in all browsers (opinionated).
    \*----------------------------------------------------------------------------*/

    nav {
        ol,  // nav ol,
        ul { // nav ul
            list-style: none; /* 1 */
        }
    }

    ol,
    ul {
        padding-left: nu-rem(24);
    }

    ol {
        counter-reset: item;

        > li { // ol > li
            counter-increment: item;
        }

        ol > li {
            display: block;

            &::before { // ol > li::before
                content: counters(item, '.') '. ';
                margin-left: nu-rem(-20);
            }
        }
    }
}

