/*----------------------------------------------------------------------------*\
    #METER ELEMENT
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem

@mixin nu-element__meter() {

    meter {
        border: none;
        width: 100%;

        &::-webkit-meter-bar, // meter::-webkit-meter-bar,
        &::-webkit-meter-optimum-value, // meter::-webkit-meter-optimum-value,
        &::-webkit-meter-suboptimum-value, // meter::-webkit-meter-suboptimum-value,
        &::-webkit-meter-even-less-good-value { // meter::-webkit-meter-even-less-good-value
            border: none;
            border-radius: nu-rem(16);
        }

        &::-webkit-meter-bar { // meter::-webkit-meter-bar
            background: $nu-colourInput;
            height: nu-rem(8);
        }

        &::-webkit-meter-optimum-value { // meter::-webkit-meter-bar
            background: $nu-colourSuccess;
        }

        &::-webkit-meter-suboptimum-value { // meter::-webkit-meter-suboptimum-value
            background: $nu-colourWarn;
        }

        &::-webkit-meter-even-less-good-value { // meter::-webkit-meter-even-less-good-value
            background: $nu-colourError;
        }
    }

    @-moz-document url-prefix() {

        meter {
            background: $nu-colourInput;
            border-radius: nu-rem(16);
            height: nu-rem(8);

            &::-moz-meter-bar { // meter::-moz-meter-bar
                border-radius: nu-rem(16);
            }

            &:-moz-meter-optimum::-moz-meter-bar { // meter:-moz-meter-optimum::-moz-meter-bar
                background: $nu-colourSuccess;
            }

            &:-moz-meter-sub-optimum::-moz-meter-bar { // meter:-moz-meter-sub-optimum::-moz-meter-bar
                background: $nu-colourWarn;
            }

            &:-moz-meter-sub-sub-optimum::-moz-meter-bar { // meter:-moz-meter-sub-sub-optimum::-moz-meter-bar
                background: $nu-colourError;
            }
        }
    }
}


