/*----------------------------------------------------------------------------*\
    #PROGRESS ELEMENT
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem

@mixin nu-element__progress() {

    /*----------------------------------------------------------------------------*\
        1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
    \*----------------------------------------------------------------------------*/

    progress {
        appearance: none;
        background: linear-gradient(
            to right,
            $nu-colourPrimary 0%,
            $nu-colourInput 0%,
            $nu-colourInput 100%,
            $nu-colourPrimary 100%
        ) repeat;
        background-size: 200% 100%;
        border: none;
        border-radius: nu-rem(16);
        color: $nu-colourPrimary;
        @include nu-area(nu-rem(8), 100%);
        vertical-align: baseline; /* 1 */

        &::-ms-fill { // progress::-ms-fill
            animation-name: none;
        }

        &[value], // progress[value],
        &::-webkit-progress-bar, // progress::-webkit-progress-bar,
        &[value]::-webkit-progress-value { // progress[value]::-webkit-progress-value
            background: none;
            border: none;
            border-radius: nu-rem(16);
        }

        &[value]::-webkit-progress-bar { // progress[value]::-webkit-progress-bar
            background: $nu-colourInput;
        }

        &[value]::-webkit-progress-value { // progress[value]::-webkit-progress-value
            background-color: $nu-colourPrimary;
        }

        &:not([value]) { // prgoress:not([value])
            animation: animate-progress 2s ease infinite;
        }
    }

    @-moz-document url-prefix() {

        progress::-moz-progress-bar {
            background-color: transparent;
        }

        progress[value],
        progress[value]::-moz-progress-bar {
            border: none;
            border-radius: nu-rem(16);
            height: nu-rem(8);
        }

        progress[value] {
            background-color: $nu-colourInput;

            &::-moz-progress-bar {
                background-color: $nu-colourPrimary;
            }
        }
    }
}


