/*----------------------------------------------------------------------------*\
    #BLOCKQUOTE AND CITE ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem

@mixin nu-element__quote() {

    blockquote {
        border-left: 4px solid $nu-colourPrimary;
        margin: 0 0 nu-rem(16);
        padding: nu-rem(8) nu-rem(16);

        cite {
            display: block;
            text-align: end;

            &::before { // cite::before
                content: '- ';
            }
        }
    }
}


