/*----------------------------------------------------------------------------*\
    #RANGE INPUT ELEMENT
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem

@mixin _nu-element__form-track() {
    animate: 0.2s;
    background: $nu-colourInput;
    border-radius: nu-rem(16);
    cursor: pointer;
    @include nu-area(nu-rem(8), 100%);
}

@mixin _nu-element__form-thumb() {
    background: radial-gradient(ellipse at center, black 0%, black 48%, transparent 52%);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    cursor: grab;
    @include nu-area(nu-rem(24));
    pointer-events: all;
}

@mixin nu-element__range() {

    [type="range"] {
        appearance: none;
        width: 100%;

        &:focus { // [type="range"]:focus
            outline: none;
        }

        &::-moz-focus-outer { // [type="range"]::-moz-focus-outer
            border: none;
        }

        &::-webkit-slider-runnable-track { // [type="range"]::-webkit-slider-runnable-track
            @include _nu-element__form-track;

            @include nu-media(xs, s) {
                pointer-events: none;
            }
        }

        &::-moz-range-track { // [type="range"]::-moz-range-track
            @include _nu-element__form-track;
        }

        &::-ms-track { // [type="range"]::-ms-track
            @include _nu-element__form-track;
            background: none;
            border-color: transparent;
            border-width: nu-rem(4) 0;
            color: transparent;
        }

        &::-ms-fill-lower, // [type="range"]::-ms-fill-lower,
        &::-ms-fill-upper { // [type="range"]::-ms-fill-upper
            background: $nu-colourInput;
            border-radius: nu-rem(16);
        }

        &::-webkit-slider-thumb { // [type="range"]::-webkit-slider-thumb
            @include _nu-element__form-thumb;
            -webkit-appearance: none;
            margin-top: nu-rem(-8);
        }

        &::-moz-range-thumb { // [type="range"]::-moz-range-thumb
            @include _nu-element__form-thumb;
            border: none;
        }

        &::-ms-thumb { // [type="range"]::-ms-thumb
            @include _nu-element__form-thumb;
        }

        @include nu-media(xs, s) {
            pointer-events: none;
        }
    }
}


