/*----------------------------------------------------------------------------*\
    TABLE ELEMENT RESETS
\*----------------------------------------------------------------------------*/

/// @group Elements

@mixin nu-element__table() {

    /*----------------------------------------------------------------------------*\
        1. Remove border spacing in all browsers (opinionated).
    \*----------------------------------------------------------------------------*/

    table {
        border-collapse: collapse; /* 1 */
    }

    th {
        text-align: left;
        text-align: start;
        padding: rem(6px);
    }

    td {
        padding: rem(6px);
        border-top: 1px solid rgba($primary, 0.1);
    }

}



