/*----------------------------------------------------------------------------*\
    #TOGGLE ELEMENTS
\*----------------------------------------------------------------------------*/

/// @group Elements
/// @require {function} nu-rem
/// @require {function} nu-svgEncode

@mixin nu-element__toggles() {

    [type="checkbox"],
    [type="radio"] {
        left: -100vw;
        opacity: 0;
        position: absolute;

        + label { // [type="checkbox"] + label, [type="radio"] + label
            cursor: pointer;
            display: inline-flex;
            margin: 0 nu-rem(16) nu-rem(16) 0;


            &::before { // [type="checkbox"] + label::before, [type="radio"] + label::before
                content: '';
                display: block;
                @include nu-area(nu-rem(18));
                margin-right: nu-rem(12);
                margin-top: nu-rem(5);
                text-align: center;
                transition: all $nu-trans;
            }
        }
    }

    [type="checkbox"] {

        + label::before { // [type="checkbox"] + label::before
            background: $nu-colourInput url(nu-svgEncode('<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#{$nu-colourPrimary}" viewBox="0 0 32 32"><path d="M31.74,7.14L27.63,3A0.88,0.88,0,0,0,26.5,3L10.38,19.11l-4.93-5a0.81,0.81,0,0,0-1.13,0L0.21,18.29a0.76,0.76,0,0,0-.21.57,0.7,0.7,0,0,0,.21.51L9.81,29a0.79,0.79,0,0,0,.57.26h0.05A0.55,0.55,0,0,0,10.94,29L31.74,8.22A0.79,0.79,0,0,0,32,7.65,0.63,0.63,0,0,0,31.74,7.14Z" /></svg>')) no-repeat center #{nu-rem(18)} / #{nu-rem(12)};
            border-radius: $nu-radius;
        }

        &:checked + label::before { // [type="checkbox"]:checked + label::before
            background-position-y: center;
        }
    }

    [type="radio"] {

        + label::before { // [type="radio"] + label::before
            background: radial-gradient(ellipse at center, $nu-colourPrimary 50%, $nu-colourInput 50%);
            border-radius: 50%;
            box-shadow: inset 0 0 0 nu-rem(16) $nu-colourInput;
        }

        &:checked + label::before { // [type="radio"]:checked + label::before
            box-shadow: inset 0 0 0 nu-rem(5) $nu-colourInput;
        }
    }
}
