/*----------------------------------------------------------------------------*\
    #INPUT PREFIX AND POSTFIX COMPONENT STYLES
\*----------------------------------------------------------------------------*/

@mixin ui-component__adjacent(
    $radius: $radius,
    $tertiary: $tertiary,
    $color: white
) {

    .c-adjacent {
         display: flex;
         flex-flow: row;

         &__item { // .c-adjacent__item
              flex-shrink: 1;
              min-width: 0;
         }

         &__end { // .c-adjacent__end
              align-items: center;
              background-color: $tertiary;
              color: $color;
              display: flex;
              flex-flow: row;
              flex-shrink: 0;
              padding: 0 rem(16);
         }

         &__item, // .c-adjacent__item, .c-adjacent__end
         &__end {
              &:nth-child(1){
                   border-radius: $radius 0 0 $radius;
              }

              &:nth-child(2),
              &:last-child {
                   border-radius: 0 $radius $radius 0;
              }

              &:nth-last-child(2) {
                   border-top-right-radius: 0;
                   border-bottom-right-radius: 0;
              }
         }
    }
}


