/*----------------------------------------------------------------------------*\
	#LOADING INDICATOR
\*----------------------------------------------------------------------------*/

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    color: transparent !important;
    @include area(1.5rem);
    pointer-events: none;
    position: relative;
    
    &::after {
        animation: loading 0.6s infinite linear;
        border: 3px solid $primary;
        border-radius: 0.75rem;
        border-right-color: transparent;
        border-top-color: transparent;
        content: '';
        display: block;
        @include area(1.5rem);
        left: 50%; top: 50%;
        margin: -0.75rem 0 0 -0.75rem;
        position: absolute;
    }
    
    &--light::after {
        border-bottom-color: white;
        border-left-color: white;
    }
}


