/*----------------------------------------------------------------------------*\
    #MODAL
\*----------------------------------------------------------------------------*/

@mixin ui-component__modal() {

    /*  Block  */

    .modal {
        $block: &;

        align-items: center;
        background-color: rgba($primary, 0.8);
        display: flex;
        @include area(100%);
        left: 0; top: 0;
        opacity: 0;
        padding: rem(16);
        position: fixed;
        transition: opacity $speed ease;
        visibility: hidden;

            /*  Elements  */

            &__content {
                background-color: white;
                border-radius: $radius;
                margin: auto;
                max-height: calc(100vh - #{rem(32)});
                max-width: $maxWidth;
                opacity: 0;
                overflow: auto; -webkit-overflow-scrolling: touch;
                padding: rem(32);
                transform: translateY(rem(160));
                transition: all $speed ease;
            }

            &__close {
                background-color: $quaternary;
                border-radius: 50%;
                display: block;
                @include area(rem(28));
                position: absolute;
                right: rem(12); top: rem(12);
                transition: all $speed ease;

                &::before,
                &::after {
                    background-color: $primary;
                    border-radius: rem(16);
                    content: '';
                    display: block;
                    @include area(rem(3), rem(14));
                    left: 50%; top: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%) rotate(45deg);
                    transform-origin: center;
                    transition: all $speed ease;
                }

                &::after{
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &:hover {
                    background-color: $tertiary;

                    &::before,
                    &::after {
                        background-color: white;
                    }
                }
            }


        /*  Modifiers  */

        &--fill {
            padding: 0;

            #{$block}__content {
                flex-grow: 1;
            }
        }

        &--fullscreen {
            padding: 0;

            #{$block}__content {
                border-radius: 0;
                @include area(100%);
                margin: 0;
                max-height: none;
                max-width: none;
                opacity: 1;
                transform: translateY(100%);
            }
        }

        &--visible {
            opacity: 1;
            visibility: visible;

            #{$block}__content {
                opacity: 1;
                transform: translateY(0);
                transition-delay: $speed;
            }
        }
    }
}


