/*----------------------------------------------------------------------------*\
    #OFF CANVAS
\*----------------------------------------------------------------------------*/

@mixin ui-component__off-canvas() {

    .canvas {
        transition: transform $speed ease;
    }

    .off-canvas {
        background-color: $secondary;
        @include area(100vh, 20rem);
        left: 0; top: 0;
        position: fixed;
        transform: translateX(-100%);
        transition: transform $speed ease;

        &:target {
            transform: translateX(0);
        }

        &:target + .canvas {
            transform: translateX(20rem);

            .open-off-canvas {
                display: none;
            }

            .close-off-canvas {
                display: inline-block;
            }
        }

        &--right {
            left: auto; right: 0;
            transform: translateX(100%);

            &:target + .canvas {
                transform: translateX(-20rem);
            }
        }
    }

    .close-off-canvas {
        display: none;
    }
}


