/*----------------------------------------------------------------------------*\
    #OFF CANVAS
\*----------------------------------------------------------------------------*/

@mixin ui-component__toggle(

    $colourOn: dodgerblue,
    $colourOff: lightgrey,
    $toggles: (
        default: (
            gap: 0.1875rem,
            size: 1.25rem
        ),
        // small: (
        //     gap: 0.125rem,
        //     size: 1rem
        // ),
        // medium: (
        //     gap: 0.25rem,
        //     size: 2rem
        // ),
        // large: (
        //     gap: 0.3125rem,
        //     size: 3rem
        // ),
        // xlarge: (
        //     gap: 0.4375rem,
        //     size: 4rem
        // )
    )
) {

    .toggle {
        $block: &;
        $size: map-deep-get($toggles, 'default', 'size');
        $gap: map-deep-get($toggles, 'default', 'gap');

        &__input {
            @include area(0.1px);
            opacity: 0;
            position: absolute;

            &:checked + #{$block}__label {
                background-color: $colourOn;

                &::before {
                    right: $gap;
                }

                &::after {
                    content: attr(data-on);
                }
            }
        }

        &__label#{&}__label  {
            background-color: $colourOff;
            border-radius: $size * 2;
            cursor: pointer;
            display: block;
            @include area($size, $size * 2);
            margin: 0;
            transition: background-color $speed ease;
            user-select: none;

            &::before {
                background: white;
                border-radius: 50%;
                box-shadow: 0 $gap $size / 2 rgba(black, 0.1);
                content: '';
                display: block;
                @include area($size - ($gap * 2));
                margin: 0;
                right: calc(100% - #{$size - $gap}); top: $gap;
                position: absolute;
                transition: right $speed ease;
            }

            &::after {
                content: attr(data-off);
                font-size: 0.875rem;
                left: calc(100% + 0.5rem); top: 50%;
                position: absolute;
                transform: translateY(-50%);
            }
        }

        @each $class, $map in $toggles {

            @if ( $class != 'default' ) {

                &--#{$class} {
                    $size: map-get($map, 'size');
                    $gap: map-get($map, 'gap');

                    #{$block} {

                        &__input:checked + #{$block}__label::before {
                            right: $gap;
                        }

                        &__label {
                            border-radius: $size * 2;
                            @include area($size, $size * 2);

                            &::before {
                                @include area($size - ($gap * 2));
                                right: calc(100% - #{$size - $gap}); top: $gap;
                            }
                        }
                    }
                }
            }
        }
    }
}


