/*----------------------------------------------------------------------------*\
    #TOOLTIP COMPONENT
\*----------------------------------------------------------------------------*/

@mixin ui-component__tooltip(
    $tipSize: rem(4),
    $speed: $speed,
    $ease: $ease,
    $primary: $primary,
    $colour: white,
    $fontSize: rem(16),
    $fontWeight: 500,
    $letterSpacing: 0.25,
    $padding: rem(2) rem(8)
) {

    .c-tooltip {

        &::before,
        &::after {
            bottom: calc(100% + #{rem(2)}); left: 50%;
            opacity: 0;
            position: absolute;
            transition: opacity $speed $ease;
        }

        &::before {
            border-left: $tipSize solid transparent;
            border-right: $tipSize solid transparent;
            border-top: $tipSize solid $primary;
            content: '';
            @include area(0);
            transform: translate(-50%, $tipSize);
        }

        &::after {
            background-color: $primary;
            border-radius: $radius;
            color: $colour;
            content: attr(title);
            display: block;
            font-size: $fontSize;
            font-weight: $fontWeight;
            letter-spacing: $letterSpacing;
            padding: $padding;
            transform: translateX(-50%);
            white-space: nowrap;
        }

        &--bottom { // .c-tooltip--bottom

            &::before,
            &::after {
                bottom: auto; top: calc(100% + #{rem(2)});
            }

            &::before {
                transform: translate(-50%, -#{$tipSize}) rotate(180deg);
            }
        }

        &--left,
        &--right { // .c-tooltip--left, .c-tooltip--right

            &::before,
            &::after {
                bottom: 50%;
            }

            &::after {
                transform: translate(0, 50%);
            }
        }

        &--left { // .c-tooltip--left

            &::before,
            &::after {
                left: auto; right: calc(100% + #{rem(2)});
            }

            &::before {
                transform: translate(rem(6), 50%) rotate(270deg);
            }
        }

        &--right { // .c-tooltip--right

            &::before,
            &::after {
                left: calc(100% + #{rem(2)});
            }

            &::before {
                transform: translate(rem(-6), 50%) rotate(90deg);
            }
        }

        &:hover { // .c-tooltip--bottom:hover

            &::before,
            &::after {
                opacity: 1;
            }
        }
    }
}


