/*----------------------------------------------------------------------------*\
    #STRIP LIST STYLES
\*----------------------------------------------------------------------------*/

@mixin _sb-object__unlist() {

    // .o-unlist
    list-style: none;
    margin: 0;
    padding: 0;
}


@mixin sb-object__unlist() {

    .o-unlist {

        @include _sb-object__unlist();
    }
}


