/*----------------------------------------------------------------------------*\
    #GRID OBJECT
\*----------------------------------------------------------------------------*/

@mixin ui-object__grid() {

    /*  Blocks  */

    .#{ $gridClass } { // .grid
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        max-width: rem( $maxWidth );
        padding: 0 rem( $gutterSmall );
        width: 100%;


            /*  Elements  */

            &__#{ $itemClass } { // .grid__item
                @if(not($auto)) { flex-basis: 100%; }
                flex-direction: column;
                @if($auto) { flex-grow: 1; }
                max-width: 100%;
                padding: 0 rem( $gutterSmall );
                @if(not($auto)) { width: 100%; }
            }


        /*  Modifiers  */

        &--#{ $itemClass } { // .grid--item
            display: block;
            flex-direction: column;
            padding: 0 rem( $gutterSmall * 2 );
        }

        #{ & }#{ & }--#{ $itemClass } { // .grid.grid--item
            display: block;
        }

        #{ & }--#{ $itemClass }.flex { // .grid.grid--item
            display: flex;
        }

        & &, // .grid .grid
        &--#{$unnestClass} { // .grid--unnest
            flex-shrink: 1;
            margin: 0 #{ rem( -$gutterSmall * 2 ) };
            max-width: none;
            width: auto;
        }

        &--#{ $maxClass } { // .grid--max
            max-width: none;
        }

        #{ & }#{ & }--#{ $edgeClass }, // .grid.grid--edge
        &--#{ $edgeClass } > &__#{ $itemClass } { // .grid--edge > .grid__item
            padding: 0;
        }

        & &--#{ $nestClass }, // .grid--nest
        &#{ & }--#{ $edgeClass }, // .grid--edge
        &--#{ $edgeClass} .#{ $gridClass }:not(&--#{$unnestClass}) { // .grid--edge .grid
            margin: 0 auto;
        }
    }

    @include media(m) {

        .#{ $gridClass } { // .grid
            padding: 0 rem( $gutter );
        }

        .#{ $gridClass }__#{ $itemClass } { // .grid__item
            padding: 0 rem( $gutter );
        }

        .#{ $gridClass }--#{ $itemClass } { // .grid--item
            padding: 0 rem( $gutter * 2 );
        }

        & &, // .grid .grid
        &--#{$unnestClass} { // .grid--unnest
            margin: 0 #{ rem( -$gutter * 2 ) };
        }
    }
}


