/*----------------------------------------------------------------------------*\
	#COLOR SETTINGS
\*----------------------------------------------------------------------------*/

$primary:   #2E3133              !default;
$secondary: #F3F3F3              !default;

$error:     #FF8080              !default;
$warn:      #FAE57D              !default;
$success:   #73E699              !default;


