/*----------------------------------------------*\
	#GLOBAL SETTINGS
\*----------------------------------------------*/

$radius:            3px         !default;
$btnRadius:         0           !default;
$btnReset:          true        !default;
$speed:             0.25s       !default;


