/*----------------------------------------------*\
	#GLOBAL SETTINGS
\*----------------------------------------------*/

$rootFontSize:      16px;
$radius:            4px;
$speed:             0.25s;

