/*----------------------------------------------*\
	#GRID SETTINGS
\*----------------------------------------------*/

$gridClass:      'grid'         !default;
$itemClass:      'item'         !default;
$edgeClass:      'edge'         !default;
$maxClass:       'max'          !default;
$axisClass:      'vert'         !default;

$columns:       12              !default;
$gutter:        8px             !default;
$maxWidth:      1380px          !default;
$break:         null            !default;

$breakpoints: (
    s:          null,           //iPhone
    m:          641px,          //iPad
    l:          1025px,         //Macbook
    xl:         1201px,         //Macbook Pro
    xxl:        1601px          //iMac
) !default;


