/*----------------------------------------------*\
	#GRID SETTINGS
\*----------------------------------------------*/

$gridClass:      'grid'         !default;
$itemClass:      'item'         !default;
$edgeClass:      'edge'         !default;
$nestClass:      'nest'         !default;
$unnestClass:    'unnest'       !default;
$maxClass:       'max'          !default;

$columns:       12              !default;
$gutter:        8px             !default;
$gutterMobile:  $gutter / 2     !default;
$maxWidth:      1380px          !default;
$break:         null            !default;

$breakpoints: (
    s:          null,           //Smartphone
    m:          641px,          //Tablet
    l:          1025px,         //Notebook
    xl:         1201px,         //Laptop
    //xxl:        1601px          //Desktop
) !default;

$offsets:       false           !default; //Turns grid offset classes on/off


