/*----------------------------------------------------------------------------*\
    #PIXELS TO REM FUNCTION
\*----------------------------------------------------------------------------*/

/// @group Tools
/// @param {Length | Number} $pixels - Value to convert to rem
/// @param {String} $context [$nu-rootFontSize] - Root font size to base rem on

@function nu-rem( $pixels, $context: $nu-rootFontSize ) {

    @if ( unit($pixels) == '%' or $pixels == 0 ) {

        @return $pixels;
    }

    @else {

        @if ( unitless( $pixels ) ) {

            $pixels: $pixels * 1px;
        }

        @if ( unitless( $context ) ) {

            $context: $context * 1px;
        }

        @return $pixels / $context * 1rem;
    }
}



/// @group Tools
/// @param {Length | Number} $pixels - Value to convert to em
/// @param {String} $context [16px] - Root font size to base em on

@function em( $pixels, $context: 16px ) {

    @if ( unit($pixels) == '%' ) {

        @return $pixels;
    }

    @else {

        @if ( unitless( $pixels ) ) {

            $pixels: $pixels * 1px;
        }

        @if ( unitless( $context ) ) {

            $context: $context * 1px;
        }

        @return $pixels / $context * 1em;
    }
}


