/*----------------------------------------------------------------------------*\
    #COLOUR SETTINGS
\*----------------------------------------------------------------------------*/

$nu-colourPrimary:     #2E3133              !default;
$nu-colourSecondary:   #F0F0F0              !default;
$nu-colourTertiary:    #7D7D80              !default;
$nu-colourQuaternary:  #EDEDED              !default;

$nu-colourInput:       #F2F2F2              !default;
$nu-colourText:        #2E3133              !default;

$nu-colourError:       #FF8080              !default;
$nu-colourWarn:        #FAE57D              !default;
$nu-colourSuccess:     #73E699              !default;
$nu-colourDisabled:    #AAAAAA              !default;

$nu-colourPalette: (
    'primary':      $nu-colourPrimary,
    'secondary':    $nu-colourSecondary,
    'tertiary':     $nu-colourTertiary,
    'quaternary':   $nu-colourQuaternary
) !default;


