/*----------------------------------------------------------------------------*\
    #COLOUR SETTINGS
\*----------------------------------------------------------------------------*/

$primary:     #2E3133              !default;
$secondary:   #F0F0F0              !default;
$tertiary:    #7D7D80              !default;
$quaternary:  #EDEDED              !default;

$input:       #F2F2F2              !default;
$text:        #2E3133              !default;

$error:       #FF8080              !default;
$warn:        #FAE57D              !default;
$success:     #73E699              !default;
$disabled:    #AAAAAA              !default;

$palette: (
    'primary':      $primary,
    'secondary':    $secondary,
    'tertiary':     $tertiary,
    'quaternary':   $quaternary
)                                    !default;


