/*----------------------------------------------------------------------------*\
    #GLOBAL SETTINGS
\*----------------------------------------------------------------------------*/

$nu-radius:        3px             !default;
$nu-speed:         0.2s            !default;
$nu-ease:          ease            !default;
$nu-trans:         $nu-speed $nu-ease    !default;

$nu-breakpoints: (
    xs:         0,              // Phone
    s:          768px,          // Tablet
    m:          1024px,         // Notebook
    l:          1200px,         // Laptop
    xl:         1600px          // Desktop
)                               !default;

$nu-mediaClass:    '\\@'           !default;

$nu-plainInputs: false;
