/*----------------------------------------------------------------------------*\
    #GRID SETTINGS
\*----------------------------------------------------------------------------*/

$nu-gridColumns:       12              !default;
$nu-gridGutter:        8px             !default;
$nu-gridGutterSmall:   8px             !default;
$nu-gridMaxWidth:      1380px          !default;
$nu-gridAuto:          false           !default;


