/*----------------------------------------------------------------------------*\
    #MEDIA QUERY MIXIN
\*----------------------------------------------------------------------------*/

@mixin media( $minbreak: null, $maxbreak: null, $type: null ) {

    $media: '';
    $from: map-get($breakpoints, $minbreak);
    $to: map-get($breakpoints, $maxbreak);

    @if ( $maxbreak == null ) {

        $media: '(min-width: #{ $from + 1px })';
    }

    @else if ( ( $minbreak == null or $from == null ) and $maxbreak != null ) {

        $media: '(max-width: #{ $to })';
    }

    @else if ( $type == 'print' ) {

        $media: 'only #{ $type }';
    }

    @else {

        $media: '(min-width: #{ $from + 1px }) and (max-width: #{ $to })';
    }

    @media #{ $media } {

        @content;
    }
}


