<!DOCTYPE html>

<html class="no-js" lang="en">

    <head>
        
        <!--------------------------------------------------
        //	Document: Setup
        --------------------------------------------------->
    
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Test Elements | Welcome</title>
        
        
        
        <!--------------------------------------------------
        //	Document: Priority Resources
        --------------------------------------------------->
        
        <base href="/">
        
        <link rel="stylesheet" href="styles/style.css">
        
        <script src="/scripts/framework/parties/modernizr.min.js"></script>
        
        
        
        <!--------------------------------------------------
        //	Styles: Element Testing css
        --------------------------------------------------->
        
        <style>
            
            body {
                padding: 1rem 4vw;
            }
            
            hr {
                margin: 2rem 0;
            }
            
            span {
                background-color: whitesmoke;
                display: block;
                padding: .5rem 0;
                margin: .5rem 0;
            }
            
            span span {
                background-color: lightgrey;
            }
            
            span span span {
                background-color: whitesmoke;
            }
            
        </style>
        
        
    
    </head>

    <body>
        
        <!--------------------------------------------------
        //	Site: Header
        --------------------------------------------------->
    
        <header>
                    
            <nav>
                
                <ul>
                    
                    <li><a href="#">Link</a></li>
                    
                    <li><a href="#">Link</a></li>
                    
                </ul>
                
            </nav>
                    
        </header>
        
        
        
        <!--------------------------------------------------
        //	Site: Main
        --------------------------------------------------->
        
        <main>
            
            <div class="grid">
                    
                <div class="grid__item">
                    
                    <section>
                        
                        <h1>This is a heading</h1>
                        
                        <h2>This is a heading</h2>
                        
                        <h3>This is a heading</h3>
                        
                        <h4>This is a heading</h4>
                        
                        <h5>This is a heading</h5>
                        
                        <h6>This is a heading</h6>
                        
                        <div class="grid justify-center">
                            
                            <div class="grid__item size-10-m size-8-l size-7-xl">
                        
                                <p>Once upon a time there was a little dot, he was walking down the road when we was struck by lightning. "Ooooh i've been electrified"</p>
                                
                                <p>After he got over the shock he realised he could create wonderous things that no other dot could. He began drawing, painting and designing.</p>
                                
                                <p>Since that day the the world changed for the better, now that the creative little dot had begun designing the future...</p>
                        
                            </div>
                            
                        </div>
                        
                        <ul>
                            
                            <li>
                            
                                List item
                            
                                <ul>
                            
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                </ul>
                                
                            </li>
                            
                            <li>List item</li>
                            
                            <li>List item</li>
                            
                            <li>List item</li>
                            
                            <li>List item</li>
                            
                        </ul>
                        
                        <ol>
                            
                            <li>
                            
                                List item
                            
                                <ol>/* maybe make this go 1A, 1B, 1C etc. */
                            
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                    <li>List item</li>
                                    
                                </ol>
                                
                            </li>
                            
                            <li>List item</li>
                            
                            <li>List item</li>
                            
                            <li>List item</li>
                            
                            <li>List item</li>
                            
                        </ol>
                        
                        <blockquote>
                            
                            <p>Yo ho ho and a bottle of rum, this be a ye olde pint of pirate bay scrum.</p>
                            
                            <cite>Redbeard the Pegless</cite>
                        
                    </section>
            
                    <section>
                
                        <hr>
                
                        <h3>Available columns</h3>
                        
                        <div class="grid">
                            
                            <div class="grid__item"><span>12</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-11"><span>11</span></div>
                            
                            <div class="grid__item  size-1"><span>1</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-10"><span>10</span></div>
                            
                            <div class="grid__item  size-2"><span>2</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-9"><span>9</span></div>
                            
                            <div class="grid__item  size-3"><span>3</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-8"><span>8</span></div>
                            
                            <div class="grid__item  size-4"><span>4</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-7"><span>7</span></div>
                            
                            <div class="grid__item  size-5"><span>5</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-6"><span>6</span></div>
                            
                            <div class="grid__item  size-6"><span>6</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-5"><span>5</span></div>
                            
                            <div class="grid__item  size-7"><span>7</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-4"><span>4</span></div>
                            
                            <div class="grid__item  size-8"><span>8</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-3"><span>3</span></div>
                            
                            <div class="grid__item  size-9"><span>9</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-2"><span>2</span></div>
                            
                            <div class="grid__item  size-10"><span>10</span></div>
                            
                        </div>
                        
                        <div class="grid">
                            
                            <div class="grid__item  size-1"><span>1</span></div>
                            
                            <div class="grid__item  size-11"><span>11</span></div>
                            
                        </div>
                
                        <hr>
            
                    </section>
                    
                    <section>
                
                        <hr>
                
                        <h3>Infinite Nesting</h3>
                        
                        <div class="grid">
                            
                            <div class="grid__item">
                                
                                <span>
                                
                                    Parent
                                
                                    <div class="grid">
                                
                                        <div class="grid__item">
                                            
                                            <span>
                                                
                                                Child
                                                
                                                <div class="grid">
                                
                                                    <div class="grid__item">
                                                        
                                                        <span>
                                                            
                                                            Grand Child                                            
                                                        
                                                        </span>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            
                                            </span>
                                            
                                        </div>
                                        
                                    </div>
                                
                                </span>
                                
                            </div>
                            
                        </div>
                        
                    </section>
                
                    <form>
                        
                        <button>button</button>
                        
                        <hr>
                        
                        <datalist>
                        
                            <option>option 1</option>
                            
                            <option>option 2</option>
                            
                        </datalist>
                        
                        <hr>
                        
                        <fieldset>
                            
                            <legend>legend</legend>
                            
                        </fieldset>
                        
                        <hr>
                        
                        <input type="button" value="button" class="button--light">
                        
                        <hr>
                        
                        <input type="checkbox" name="checkbox" id="ch1" checked>
                        
                        <label for="ch1">Checkbox!</label>
                        
                        <input type="checkbox" name="checkbox" id="ch2">
                        
                        <label for="ch2">Checkbox!</label>
                        
                        <hr>
                        
                        <input type="color" placeholder="color">
                        
                        <hr>
                        
                        <input type="date" placeholder="date">
                        
                        <hr>
                        
                        <input type="datetime" placeholder="datetime">
                        
                        <hr>
                        
                        <input type="email" placeholder="email">
                        
                        <hr>
                        
                        <input type="file">
                        
                        <hr>
                        
                        <input type="hidden">
                        
                        <hr>
                        
                        <input type="month" placeholder="month">
                        
                        <hr>
                        
                        <input type="number" placeholder="number">
                        
                        <hr>
                        
                        <input type="password" placeholder="password">
                        
                        <hr>
                        
                        <input type="radio" name="radio" id="ra1" checked>
                        
                        <label for="ra1">Radio!</label>
                        
                        <input type="radio" name="radio" id="ra2">
                        
                        <label for="ra2">Radio!</label>
                        
                        <hr>
                        
                        <input type="range">
                        
                        <hr>
                        
                        <input type="reset">
                        
                        <hr>
                        
                        <input type="search" placeholder="search">
                        
                        <hr>
                        
                        <input type="submit">
                        
                        <hr>
                        
                        <input type="tel" placeholder="tel">
                        
                        <hr>
                        
                        <input type="text" placeholder="text">
                        
                        <hr>
                        
                        <input type="time" placeholder="time">
                        
                        <hr>
                        
                        <input type="url" placeholder="url">
                        
                        <hr>
                        
                        <input type="week" placeholder="week">
                        
                        <hr>
                        
                        <label>label</label>
                        
                        <hr>
                        
                        <meter value="33" max="100"></meter>
                        
                        <hr>
                        
                        <select>
                            
                            <optgroup>
                            
                                <option>option A1</option>
                                
                                <option>option A2</option>
                                
                            </optgroup>
                            
                            <optgroup>
                            
                                <option>option B1</option>
                                
                                <option>option B2</option>
                                
                            </optgroup>
                            
                        </select>
                        
                        <hr>
                        
                        <output>
                        
                        <hr>
                        
                        <progress value="50" max="100"></progress>
                        
                        <hr>
                        
                    </form>
                    
                </div>
                
            </div>
        
        </main>
        
        
        
        <!--------------------------------------------------
        //	Site: Footer
        --------------------------------------------------->
        
        <footer>
        
            
        
        </footer>
        
        
        
        <!--------------------------------------------------
        //	Document: Subservient Resources
        --------------------------------------------------->
        
        <script src="/scripts/framework/parties/svg4everybody.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <script>window.jQuery || document.write('<script src="/scripts/parties/jquery-2.2.4.min.js"><\/script>')</script>
        
        <script src="/scripts/framework/parties/gsap.min.js"></script>
        
        <script src="/scripts/framework/framework.min.js"></script>
        
        <script src="/scripts/application/application.min.js"></script>
        
        
    
    </body>

</html>