<!DOCTYPE html>

<html class="no-js" lang="en">

    <head>
        
        <!--------------------------------------------------
        //	Document: Setup
        --------------------------------------------------->
    
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>NAVIGATION</title>
        
        
        <!--------------------------------------------------
        //	Document: Priority Resources
        --------------------------------------------------->
        
        <link rel="stylesheet" href="/styles/style.css">
        
        <script src="/scripts/framework/parties/modernizr.min.js"></script>
        
        
        <style>
            
            
            body {
                background-color: #e8e8e8;
            }
            
            
            .page-header {
                background-color: #48ADF5;
                padding: 0.5rem 0;
            }
            
            .white {
                color: white;
                margin: 0;
                text-align: right;
            }
            
            .nav-toggle {
                /*background-color: white;*/
            }
            
            .nav-toggle {
                display: block;
                text-align: center;
            }
            
            .nav--nest {
                background-color: #f1f1f1;
            }
            
            .page-main {
                padding: 1rem 0;
            }
            
            @media only screen and (min-width: 63.063rem) {
                
                .nav {
                    color: white;
                }
                
                .nav--nest {
                    background-color: white;
                    color: #2d2d2d;
                }
                
            }
            
        </style>
        
        
    </head>

    <body>
        
        <!--------------------------------------------------
        //	Site: Header
        --------------------------------------------------->
    
        <header class="page-header" role="banner">

            <div class="flex  between  align-center">
                
                <img class="logo" src="http://placehold.it/40/80">                
                
                <nav class="grow" role="navigation">
                    
                    <a class="nav-toggle  js-nav-toggle  hide-l" href="#">MENU</a>
                    
                    <ul class="nav  nav--primary  js-nav--primary">
                        
                        <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
                        
                        <li class="nav__item  nav__item--drop">
                        
                            <a class="nav__link" href="/">The Studio</a>
                        
                        
                        
                            <ul class="nav  nav--nest">
                                
                                <li class="nav__item  nav__item--drop">
                                
                                    <a class="nav__link" href="#">The Team</a>
                                
                                
                                
                                    <ul class="nav  nav--nest">
                                        
                                        <li class="nav__item"><a class="nav__link" href="#">Matt</a></li>
                                        
                                        <li class="nav__item"><a class="nav__link" href="#">Chris</a></li>
                                        
                                        <li class="nav__item">
                                            
                                            <a href="#" class="nav__link--close">Back</a>
                                        
                                        </li>
                                        
                                    </ul>
                                    
                                    
                                
                                </li>
                                
                                <li class="nav__item  nav__item--drop">
                                
                                    <a class="nav__link" href="#">The Office</a>
                                
                                
                                
                                    <ul class="nav  nav--nest">
                                        
                                        <li class="nav__item  nav__item--drop"><a class="nav__link" href="#">Office Consoles</a>
                                        
                                            <ul class="nav  nav--nest">
                                                
                                                <li class="nav__item"><a class="nav__link" href="#">Ps3</a></li>
                                                
                                                <li class="nav__item">
                                                
                                                    <a href="#" class="nav__link--close">Back</a>
                                                    
                                                </li>
                                                
                                            </ul>
                                        
                                        </li>
                                        
                                        <li class="nav__item"><a class="nav__link" href="#">The Coffee</a></li>
                                        
                                        <li class="nav__item"><a class="nav__link" href="#">The Culture</a></li>
                                        
                                        <li class="nav__item">
                                            
                                            <a href="#" class="nav__link--close">Back</a>
                                        
                                        </li>
                                        
                                    </ul>
                                    
                                    
                                
                                </li>
                                
                                <li class="nav__item">
                                
                                    <a class="nav__link" href="#">About Us</a>
                                    
                                </li>
                                
                                <li class="nav__item">
                                
                                    <a href="#" class="nav__link--close">Back</a>
                                    
                                </li>
                                
                            </ul>
                            
                            
                        
                        </li>
                        
                        <li class="nav__item">
                            
                            <a class="nav__link" href="#">The Web</a>
                            
                        </li>
                        
                        <li class="nav__item">
                            
                            <a class="nav__link" href="#">The Brands</a>
                            
                        </li>
                        
                        <li class="nav__item">
                            
                            <a class="nav__link" href="#">The Labs</a>
                            
                        </li>
                        
                        <li class="nav__item">
                            
                            <a class="nav__link" href="#">The Blog</a>
                            
                        </li>
                        
                        <li class="nav__item">
                            
                            <a class="nav__link" href="#">Contact</a>
                            
                        </li>
                        
                    </ul>
                    
                </nav>
                                  
                <p class="white">App</p>

            </div>

        </header>
        
        
        
        <!--------------------------------------------------
        //	Site: Main
        --------------------------------------------------->
        
        <main class="page-main" role="main">
        
            <div class="grid">
            
                <div class="grid__item  size-12  size-12-m  size-12-l  size-12-xl">
                    
                    <img src="http://unsplash.it/1200x400?random">
                
                </div>
            
            </div>
        
        </main>
        
        
        
        <!--------------------------------------------------
        //	Site: Footer
        --------------------------------------------------->
        
        <footer class="page-footer" role="contentinfo">
        
            <div class="grid">
            
                <div class="grid__item  size-12  size-12-m  size-12-l  size-12-xl">
                
                </div>
            
            </div>
        
        </footer>
        
        
        
        <!--------------------------------------------------
        //	Document: Subservient Resources
        --------------------------------------------------->
        
        <script src="/scripts/framework/parties/svg4everybody.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <script>window.jQuery || document.write('<script src="/scripts/parties/jquery-2.2.4.min.js"><\/script>')</script>
        
        <script src="/scripts/framework/parties/gsap.min.js"></script>
        
        <script src="/scripts/framework/framework.min.js"></script>
        
        <script src="/scripts/application/application.min.js"></script>
        
        
    
    </body>

</html>