<!DOCTYPE html>

<html class="no-js" lang="en">

    <head>
        
        <!--------------------------------------------------
        //	Document: Setup
        --------------------------------------------------->
    
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>NAVIGATION</title>
        
        <style>
            
            
            body {
                background-color: #e8e8e8;
            }
            
            
            .header {
                background-color: #48ADF5;
                padding: 0.5rem 0;
            }
            
            .white {
                color: white;
                margin: 0;
                text-align: right;
            }
            
            .nav-list {
                background-color: white;
            }
            
            .page-main {
                padding: 1rem 0;
            }
            
        </style>
        
        <!--------------------------------------------------
        //	Document: Priority Resources
        --------------------------------------------------->
        
        <link href="/styles/style.css" rel="stylesheet">
        
        
    </head>

    <body>
        
        <!--------------------------------------------------
        //	Site: Header
        --------------------------------------------------->
    
        <header class="page-header" role="banner">
            
            
            
            <div class="header">
                
                <div class="grid  between  align-center">
                    
                    <div class="grid__item">
                        
                        <img class="logo" src="http://placehold.it/40/80">
                        
                    </div>
                    
                    <div class="grid__item">
                        
                        <p class="white">App</p>
                        
                    </div>
                    
                </div>
                
            </div>
            
            
        
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <label class="hide-l" for="nav-toggle">MENU</label>
            
            <nav class="nav" role="navigation">
                
                <ul class="nav-list">
                    
                    <li class="nav-list__item"><a class="nav-list__link" href="#">Link</a></li>
                    
                    <li class="nav-list__item  nav-list__item-drop"><a class="nav-list__link" href="#">Link Drop</a>
                    
                        <ul class="nav-list  nav-list--nested">
                            
                            <li class="nav-list__sub-item  nav-list__item-drop"><a class="nav-list__link" href="#">Sub Link Drop</a>
                            
                                <ul class="nav-list  nav-list--nested">
                                    
                                    <li class="nav-list__item"><a class="nav-list__link" href="#">Sub Sub Link</a></li>
                                    
                                </ul>
                            
                            </li>
                            
                            <li class="nav-list__sub-item"><a class="nav-list__link" href="#">Sub Link</a></li>
                            
                        </ul>
                    
                    </li>
                    
                    <li class="nav-list__item"><a class="nav-list__link" href="#">Link</a></li>
                    
                    <li class="nav-list__item"><a class="nav-list__link" href="#">Link</a></li>
                    
                    <li class="nav-list__item"><a class="nav-list__link" href="#">Link</a></li>
                    
                    <li class="nav-list__item"><a class="nav-list__link" href="#">Link</a></li>
                    
                    <li class="nav-list__item"><a class="nav-list__link" href="#">Link</a></li>
                    
                </ul>
                
            </nav>
            
            
        
        </header>
        
        
        
        <!--------------------------------------------------
        //	Site: Main
        --------------------------------------------------->
        
        <main class="page-main" role="main">
        
            <div class="grid">
            
                <div class="grid__item  size-12  size-12-m  size-12-l  size-12-xl">
                    
                    <img src="http://unsplash.it/1200x400?random">
                
                </div>
            
            </div>
        
        </main>
        
        
        
        <!--------------------------------------------------
        //	Site: Footer
        --------------------------------------------------->
        
        <footer class="page-footer" role="contentinfo">
        
            <div class="grid">
            
                <div class="grid__item  size-12  size-12-m  size-12-l  size-12-xl">
                
                </div>
            
            </div>
        
        </footer>
        
        
        
        <!--------------------------------------------------
        //	Document: Subservient Resources
        --------------------------------------------------->
        
        <script src="/scripts/application/parties/svg4everybody.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        
        <script>window.jQuery || document.write('<script src="/scripts/application/parties/jquery-3.0.0.min.js"><\/script>')</script>
        
        <script src="/scripts/application/parties/gsap.min.js"></script>
        
        <script src="/scripts/framework/framework.min.js"></script>
        
        <script src="/scripts/application/application.min.js"></script>
        
        
    
    </body>

</html>