.app-aside {
    background-color: #f7f7f7;
    max-width: 18rem;
    padding: 0;
    
    &__content {
        overflow: auto;
        padding: 1rem;
        -webkit-overflow-scrolling: touch;
    }
    
    &__footer {
        background-color: #222;
        color: white;
        font-size: 0.88rem;
        padding: 1rem;
    }
}


