/*----------------------------------------------------------------------------*\
    #APP HEADER
\*----------------------------------------------------------------------------*/

.c-head {
    background-color: rgba(white, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 10rem;
    padding: 1rem;
    position: fixed;
    right: 1.6rem; top: 1.6rem;
    z-index: 1;

    a {
        color: $text;
    }
}


