p a {
    background-color: #D4E4F7;
    border-radius: 3px;
    display: inline-block;
    color: #3a85e0;
    font-weight: 500;
    line-height: 1.4;
    padding: 0 0.375rem;
    transition: all $speed ease;
    
    &:hover {
        background-color: #f8d6dd;
        color: #e13a61;
        padding: 0 0.5rem;
    }
    
    &:active {
        transform: scale(0.95);
    }
}