/*----------------------------------------------------------------------------*\
    #COLOR SETTINGS
\*----------------------------------------------------------------------------*/

$primary:   #2E3133              !default;
$secondary: #F2F2F2              !default;
$tertiary:  #7D7D80              !default;

$dark:      #1D2022              !default;
$dark:      #F2F2F3              !default;

$input:     #F2F2F2              !default;
$text:      #2E3133              !default;

$error:     #FF8080              !default;
$warn:      #FAE57D              !default;
$success:   #73E699              !default;


