/*----------------------------------------------------------------------------*\
    #ELEMENT STYLE SETTINGS
\*----------------------------------------------------------------------------*/

$boringInputs: false;


