/*----------------------------------------------------------------------------*\
	#GLOBAL SETTINGS
\*----------------------------------------------------------------------------*/

$radius:            3px         !default;
$btnRadius:         $radius     !default;
$btnReset:          false       !default;
$speed:             0.25s       !default;

$breakpoints: (
    s:              null,                 //Smartphone
    m:              769px,                //Tablet
    l:              1025px,               //Notebook
    //xl:             1201px,               //Laptop
    //xxl:            1601px                //Desktop
)                               !default;

$offsets:           false       !default; //Turns grid offset classes on/off

$mediaClass:        '\\@'       !default;

$direction:         column      !default;

