/*----------------------------------------------------------------------------*\
    #GLOBAL SETTINGS
\*----------------------------------------------------------------------------*/

$radius:            3px         !default;
$btnRadius:         $radius     !default;
$btnReset:          false       !default;
$speed:             0.2s       !default;

$breakpoints: (
    xs:              null,      // Phone
    s:              769px,      // Tablet
    m:              1025px,     // Notebook
    l:              1201px,     // Laptop
    xl:             1601px      // Desktop
)                               !default;

$mediaClass:        '\\@'       !default;

$direction:         column      !default;

$responsive:        both        !default; // Used with mixins as a default for responsive elements. Values: false, both, up, only