/*----------------------------------------------------------------------------*\
    #GRID SETTINGS
\*----------------------------------------------------------------------------*/

$gridClass:      'grid'         !default;
$itemClass:      'item'         !default;
$edgeClass:      'edge'         !default;
$nestClass:      'nest'         !default;
$unnestClass:    'unnest'       !default;
$maxClass:       'max'          !default;

$columns:       12              !default;
$gutter:        8px             !default;
$gutterSmall:   $gutter / 2     !default;
$maxWidth:      1380px          !default;
$break:         null            !default;
$auto:          false           !default;


