/*----------------------------------------------------------------------------*\
    #GRID SETTINGS
\*----------------------------------------------------------------------------*/

$columns:       12              !default;
$gutter:        8px             !default;
$gutterSmall:   $gutter / 2     !default;
$maxWidth:      1380px          !default;
$break:         null            !default;
$auto:          false           !default;


