/*----------------------------------------------------------------------------*\
    #TYPE SETTINGS
\*----------------------------------------------------------------------------*/

$rootFontSize:      16px        !default;
$responsiveType:    true        !default;
$headingIncrement:  2px         !default;


