/*----------------------------------------------------------------------------*\
    #GLOBAL SETTINGS
\*----------------------------------------------------------------------------*/

$radius:        3px             !default;
$speed:         0.2s            !default;
$ease:          ease            !default;
$trans:         $speed $ease    !default;

$breakpoints: (
    extra-small:         0,              // Phone
    small:               768px,          // Tablet
    medium:              1024px,         // Notebook
    large:               1200px,         // Laptop
    extra-large:         1600px          // Desktop
)                               !default;

$mediaClass:    '\\@'           !default;

$direction:     column          !default;


$plainInputs: false;
