/*----------------------------------------------*\
	#SIZE
\*----------------------------------------------*/

@mixin size($height, $width: $height) {
    
	height: $height; width: $width;
}



/*----------------------------------------------*\
	#BREAKPOINT
\*----------------------------------------------*/

@mixin breakpoints($choice: up) {

    @each $breakclass, $breakpoint in $breakpoints {
    
        $i: index(map-keys($breakpoints), $breakclass);
        
        
        //  AND UP MEDIA QUERY LOOP
        
        @if($choice == null or $choice == up or $choice == both) {
            
            $break: if(
                $i == 1,
                null,
                '-' + $breakclass
            ) !global;
        
            $screen: if(
                $i == 1,
                'only screen',
                'only screen and (min-width: #{rem($breakpoint)})'
            );
            
            @media #{$screen} {
            
                @content;
            
            }
        }
        
        
        //  ONLY MEDIA QUERY LOOP
        
        @if($choice == only or $choice == both) {
            
            $break: '-' + $breakclass + '-only' !global;
            
            @if(length($breakpoints) > $i) {
            
                $screenOnly: null;
                $nextBreakpoint: map-get($breakpoints, nth(map-keys($breakpoints), $i + 1));
                
                @if($i > 1) {
                    $screenOnly: 'only screen and (min-width: #{rem($breakpoint)}) and (max-width: #{rem(($nextBreakpoint)-1)})';
                }
                
                @else {
                    $screenOnly: 'only screen and (max-width: #{rem(($nextBreakpoint)-1)})';
                }
                
                @media #{$screenOnly} {
                
                    @content;
                
                }
            }
        }
    }
}



/*----------------------------------------------*\
	#HEADING SIZES
\*----------------------------------------------*/

@mixin headings($jump) {
    
    @for $i from 1 through 6 {

        h#{$i} {
            font-size: 1rem + ($jump * (6 - $i));
        }
    }
}


