/*----------------------------------------------------------------------------*\
    #APP WRAPPER
\*----------------------------------------------------------------------------*/

.o-app {

    &__head { // .o-app__head

    }

    &__main { // .o-app__main

    }

    &__aside { // .o-app__aside

    }

    &__foot { // .o-app__foot

    }
}


