/*----------------------------------------------------------------------------*\
    #TOOLTIP COMPONENT
\*----------------------------------------------------------------------------*/

@mixin _sb-component__tooltip(
    $tipSize:       rem(4),
    $trans:         $trans,
    $primary:       $primary,
    $colour:        white,
    $fontSize:      rem(16),
    $fontWeight:    500,
    $letterSpacing: 0.25,
    $padding:       rem(2) rem(8)
) {

    // .c-tooltip
    &::before, // .c-tooltip::before,
    &::after { // .c-tooltip::after
        bottom: calc(100% + #{rem(2)}); left: 50%;
        opacity: 0;
        position: absolute;
        transition: opacity $trans;
    }

    &::before { // .c-tooltip::before
        border-left: $tipSize solid transparent;
        border-right: $tipSize solid transparent;
        border-top: $tipSize solid $primary;
        content: '';
        @include area(0);
        transform: translate(-50%, $tipSize);
    }

    &::after { // .c-tooltip::after
        background-color: $primary;
        border-radius: $radius;
        color: $colour;
        content: attr(title);
        display: block;
        font-size: $fontSize;
        font-weight: $fontWeight;
        letter-spacing: $letterSpacing;
        padding: $padding;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    &--bottom { // .c-tooltip--bottom

        &::before, // .c-tooltip--bottom::before
        &::after { // .c-tooltip--bottom::after
            bottom: auto; top: calc(100% + #{rem(2)});
        }

        &::before { // .c-tooltip::before
            transform: translate(-50%, -#{$tipSize}) rotate(180deg);
        }
    }

    &--left, // .c-tooltip--left,
    &--right { // .c-tooltip--right

        &::before, // .c-tooltip--left::before, .c-tooltip--right::before,
        &::after { // .c-tooltip--left::after, .c-tooltip--right::after
            bottom: 50%;
        }

        &::after { // .c-tooltip--left::after, .c-tooltip--right::after
            transform: translate(0, 50%);
        }
    }

    &--left { // .c-tooltip--left

        &::before, // .c-tooltip--left::before,
        &::after { // .c-tooltip--left::after
            left: auto; right: calc(100% + #{rem(2)});
        }

        &::before { // .c-tooltip--left::before
            transform: translate(rem(6), 50%) rotate(270deg);
        }
    }

    &--right { // .c-tooltip--right

        &::before, // .c-tooltip--right::before,
        &::after { // .c-tooltip--right::after
            left: calc(100% + #{rem(2)});
        }

        &::before { // .c-tooltip--right::before
            transform: translate(rem(-6), 50%) rotate(90deg);
        }
    }

    &:hover { // .c-tooltip--bottom:hover

        &::before, // .c-tooltip--bottom:hover::before,
        &::after { // .c-tooltip--bottom:hover::after
            opacity: 1;
        }
    }
}


@mixin sb-component__tooltip(
    $tipSize:       rem(4),
    $trans:         $trans,
    $primary:       $primary,
    $colour:        white,
    $fontSize:      rem(16),
    $fontWeight:    500,
    $letterSpacing: 0.25,
    $padding:       rem(2) rem(8)
) {

    .c-tooltip {

        @include _sb-component__tooltip(
            $tipSize:       $tipSize,
            $trans:         $trans,
            $primary:       $primary,
            $colour:        $colour,
            $fontSize:      $fontSize,
            $fontWeight:    $fontWeight,
            $letterSpacing: $letterSpacing,
            $padding:       $padding
        );
    }
}


